<div class="adminPanel" style="display: flex;">
    <form action="" style="width: 330px;  margin: 50px; ">
        <h6>Welcome to the Dream Portrait upload form:</h6>
        <hr style="margin-bottom: 10px; border:.5px solid black">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm"># ID</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
        <button type="button" class="btn btn-dark">Save file</button>
    </form>
    <form action="" style="width: 350px;  margin: 50px;">
        <h6>Welcome to the Dream Portrait price changing:</h6>
        <hr style="margin-bottom: 10px; border:.5px solid black">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Price people quantity $</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Price custom bacground $</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Price simple bacground $</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <button type="button" class="btn btn-dark">Save changing</button>
    </form>
</div>


<hr style="margin-bottom: 10px; border:.5px solid black">

<div class="revoewsAdmin" style="display: flex; padding: 50px">
<div class="card" style="width: 340px; padding: 10px">
    <img src="images/photoHomePage.png" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">
            Some quick example text to build on the card title
            and make up the bulk of the card's content.</p>
    </div>
</div>

</div>