<div class="container" id="admin-page">
    <div class="row my-3">
        <div class="col-6 offset-3 ">
            <h3 class="text-center my-3">Create Review</h3>
            <form name="create-review" action="/admin-page/review" method="post">
                <div class="form-group">
                    <label for="customerName">Customer Name *</label>
                    <input name="customerName" type="text" class="form-control" id="customerName" required>
                </div>
                <div class="form-group">
                    <label for="rate">Rate *</label>
                    <select name="rate" class="form-control" id="rate" required>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option selected>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <input id="upload-review-image" type="file" class="filepond" name="filepond" required>
                    <input type="text" class="filepond" name="imageUrl" hidden>
                </div>
                <div class="form-group">
                    <label for="body">Text *</label>
                    <textarea name="body" class="form-control" id="body" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>

<script>
    (function initFilePond () {
        FilePond.registerPlugin(FilePondPluginFileValidateType);
        FilePond.registerPlugin(FilePondPluginImagePreview);
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.create(
            document.querySelector('#upload-review-image'),
            {
                acceptedFileTypes: ['image/*'],
                maxFileSize: '10MB',
                credits: false,
                labelIdle: '<span class="filepond--label-action">Upload Photo</span>',
                server: {
                    process: function (fieldName, file, metadata, load, error, progress, abort) {
                        // upload image to s3
                        s3.upload({
                            Key: `photos/reviews/${Date.now()}_${file.name}`,
                            Body: file,
                            ContentType: file.type,
                            ContentDisposition: 'attachment',
                            ACL: 'public-read'
                        }, function(err, data) {
                            if (err) return error('Something went wrong')

                            $('input[name=imageUrl]').val(data.Location)

                            load(data.Key);
                        });
                    }
                }
            }
        );
    })()
</script>
