<footer>
    <div class="footer__inner">
        <a class="footer__lnk" href="FAQ.html">F.A.Q.</a>
        <a class="footer__lnk" href="PRIVECY POLICY.html">Privacy Policy</a>
        <a class="footer__lnk" href="refound_policy.html">Refund Policy</a>
        <a class="footer__lnk" href="TERMS_OF_SERVIS.html">Terms of Service</a>
    </div>
    <div class="copyright__content">
        <div class="logo_footer"><img src="/images/logo_footer.png" width="340">©DreamSonnet</div>
    </div>
</footer>