<footer style="position: relative;">
    <div class="row pt-3 social-media-block">
        <div class="col text-right">
            <a href="https://www.instagram.com/dream_portrait_store/" target="_blank" class="text-decoration-none"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="col text-left">
            <a href="https://www.facebook.com/DreamPortraitStore" target="_blank" class="text-decoration-none"><i class="fab fa-facebook"></i></a>
        </div>
    </div>
    <div class="footer__inner py-3">
        <a class="footer__lnk" href="/f-a-q/">F.A.Q.</a>
        <a class="footer__lnk" href="/privacy-policy/">Privacy Policy</a>
        <a class="footer__lnk" href="/refund-policy/">Refund Policy</a>
        <a class="footer__lnk" href="/terms-of-service/">Terms of Service</a>
    </div>
    <div class="text-center">
        <a style="text-decoration: none" href="/home-page/">
            <div class="logo_footer"><img src="/images/logo_footer.png" width="340"></div>
        </a>
        <div class="text-center footer-copyright">© DreamPortrait</div>
    </div>
</footer>

