 <footer style="position: relative; bottom: -450px;">
    <div class="footer__inner">
        <a class="footer__lnk" href="/f-a-q/">F.A.Q.</a>
        <a class="footer__lnk" href="/privacy-policy/">Privacy Policy</a>
        <a class="footer__lnk" href="/refund-policy/">Refund Policy</a>
        <a class="footer__lnk" href="/terms-of-service/">Terms of Service</a>
    </div>
    <div class="copyright__content">
        <a style="text-decoration: none" href="/home-page/">
        <div class="logo_footer"><img src="/images/logo_footer.png" width="340">©DreamPortrait</div>
        </a>
    </div>
</footer>