 <footer>
    <div class="footer__inner">
        <a class="footer__lnk" href="/F.A.Q.Test/">F.A.Q.</a>
        <a class="footer__lnk" href="/privacyPolicyTest/">Privacy Policy</a>
        <a class="footer__lnk" href="/refundPolicyTest/">Refund Policy</a>
        <a class="footer__lnk" href="/termsOfServiceTest/">Terms of Service</a>
    </div>
    <div class="copyright__content">
        <div class="logo_footer"><img src="/images/logo_footer.png" width="340">©DreamPortrait</div>
    </div>
</footer>