
<div class="head">

    <nav class="navLink" id="nav" role="navigation" id="myLinks">
      <button class="burger" type="button" id="navToggle" onclick="myFunction()">
      <span class="brgSpan"></span>
      </button>
      <div class="navv" id="navv">
        <a class="link" href="/orderPageTest/" data-scroll="#DRAW MY PORTREIT">DRAW MY PORTRAIT</a>
        <a class="link" href="/revievsPageTest/" data-scroll="#REVIEWIS">REVIEWS</a>
        <a class="link" href="/F.A.Q.Test/" data-scroll="#F.A.Q">F.A.Q.</a>
        <a class="link" href="/contactUsTest/" data-scroll="#CONTACT US">CONTACT US</a>
       </div>
    <a href="/homePageTest/" ><img class="logo" src="/images/logo.png"></a>
    
      <div class="navv" id="navv">
        {{# if login }}
        <a class="link" href="/user/profile/" data-scroll="#USER"><i class="fas fa-user" style="font-size: 30px"></i></a>

        {{ else }}
        <a class="link" href="/user/signin/" data-scroll="#SIGN IN">SIGN IN</a>

           {{/if}}
         </div>
      
        <a class="link" href="/cartPageTest/{{this._id}}"><i class="fas fa-shopping-cart"></i></a>
       
    </nav>
</div>

<script>
  var isopen = false;
  function myFunction() {
    document.getElementById("navv").style.display = isopen ? 'flex' : 'none';
    isopen = !isopen;
  }
  
</script>