<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width" initial-scale=1>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://kit.fontawesome.com/0cf37eb68e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/orderPage.css'>
    <link rel='stylesheet' href='/stylesheets/contactUs.css'>
    <link rel='stylesheet' href='/stylesheets/privacyPolicy.css'>
    <link rel='stylesheet' href='/stylesheets/termsOfService.css'>
    <link rel='stylesheet' href='/stylesheets/refundPolicy.css'>
    <link rel='stylesheet' href='/stylesheets/faq.css'>
    <link rel='stylesheet' href='/stylesheets/homePage.css'>
    <link rel='stylesheet' href='/stylesheets/register.css'>
    <link rel='stylesheet' href='/stylesheets/signIn.css'>
    <link rel='stylesheet' href='/stylesheets/cartPage.css'>
    <link rel='stylesheet' href='/stylesheets/order2.css'>

  </head>
  <body>
    
    {{> header}}
   <div class="contain">
      {{{body}}}
    </div>

    {{> footer}}

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
