<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width" initial-scale=1>

    <script id="widget-wfp-script" language="javascript" type="text/javascript"
            src="https://secure.wayforpay.com/server/pay-widget.js">
    </script>

    <script src="https://kit.fontawesome.com/0cf37eb68e.js" crossorigin="anonymous">
    </script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/filepond@4.25.1/dist/filepond.min.css"/>
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/orderPage.css'>
    <link rel='stylesheet' href='/stylesheets/contactUs.css'>
    <link rel='stylesheet' href='/stylesheets/privacyPolicy.css'>
    <link rel='stylesheet' href='/stylesheets/termsOfService.css'>
    <link rel='stylesheet' href='/stylesheets/refundPolicy.css'>
    <link rel='stylesheet' href='/stylesheets/faq.css'>
    <link rel='stylesheet' href='/stylesheets/homePage.css'>
    <link rel='stylesheet' href='/stylesheets/signIn.css'>
    <link rel='stylesheet' href='/stylesheets/cartPage.css'>
    <link rel='stylesheet' href='/stylesheets/reviews.css'>
    <link rel='stylesheet' href='/stylesheets/success.css'>

</head>
<body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond@4.25.1/dist/filepond.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.832.0.min.js"></script>
<script src="/js/s3.js"></script>

<div class="contain">
    {{> header}}
    {{{body}}}
</div>

{{> footer}}
<script>
    function imgLoaded(img) {
        var $img = ($img)
        $img.parent().addClass('loaded');
    }
</script>
</body>
</html>
