

    <div class="cartContent">
        <div class="cartHead">CART</div>
        <div id="cart">
        </div>
        <div class="nextPartOrder">
            <!-- <div class="saveOfOrder">YOU SAVE: <span style="color: red;"><b>50% </b></span>OFF</div> -->
            <div class="grandTotal" id="total-price">GRAND TOTAL:</div> <br>
            <div style="display: flex;">
             <div style="margin-right: 5px"> The cart will expire in</div>
              <div id="countDown" style="color: red">10:00</div>
              
            </div>
            <div id="card-element"></div>

            <button class="updateBtn">UPDATE</button>
            <span style="display: flex;">
                <form action="/stripePaymant" id="payment-form" method="POST">
                    <label for="email">email<input type="email"></label>
                    <button >stripe</button>
                    <input type="hidden" name="price" value="333">
                </form>
            </span>


            <button id="createOrder">create order</button>


        </div>
    </div>



<script>
  // timer for expire cart
var minutes = 9;
var seconds = 60;

setInterval( function() {
  if( minutes == 0 && seconds == 1){
    document.getElementById('countDown').innerHTML = "00:00"
  }else{
    seconds--;
    if(seconds == 0){
      minutes--;
      seconds = 60;
      if (minutes == 0) {
        minutes = minutes;
      }
    }
    document.getElementById('countDown').innerHTML = minutes + ":" + seconds;
  }
}, 1000);
  // timer for expire cart


showCartElement();

        var localStorageCart = JSON.parse(localStorage.getItem("cart"));

        if (localStorageCart == null) {
            localStorageCart = [];
        }

        localStorage.setItem("cart", JSON.stringify(localStorageCart));
        showCartElement();

function getItemTemplate(numPpl, bgName, price, text, image) {
    return '<div class="orderDetails">' +
        '<div class="namberOfOrder"><b>0000</b></div>' +
        '<div class="orderPhoto"><img src="' + image + '"></div>' +
        '<div class="details">' +
        '<div class="hOrder">Original Dream Portrait Art</div>' +
        '<div class="numberOfPeopleOrder">Number of people:<b> ' + numPpl + '</b></div>' +
        '<div class="backgroundOrder">Background: ' + bgName + '</div>' +
        '<div class="noteOrder">Note: ' + text + '</div>' +
        '<div class="priceOrder">Price:  <del>$' + price * 2 + ' <b></del> $' + price + '</b></div>' +
        '</div>' +
        '<div class="price-Order"><b>$' + price + ' </b></div>' +
        '<button class="deleteOrder" onclick="ClearData()"><img src="/images/container.png" alt=""></button>' +
        '</div>';


};




function showCartElement() {
    var localStorageCart = JSON.parse(localStorage.getItem("cart"));
    var totalPrice = 0;

    if (!localStorageCart) {
        return;
    }

    var shoppingCart = document.getElementById('cart');
    shoppingCart.innerHTML = '';

    for (var i = 0; i < localStorageCart.length; i++) {
        var item = localStorageCart[i];
        totalPrice += item.selectedPeople.price;

        if (item.selectedBakcground != null) {
            totalPrice += item.selectedBakcground.price;
        }

        if (item.selectedBakcground != null) {
            shoppingCart.innerHTML += getItemTemplate(item.selectedPeople.id, item.selectedBakcground.name, item.selectedPeople.price, item.wishesText, item.image);
        } else {
            shoppingCart.innerHTML +=
                "<li>People: " + item.selectedPeople.id + " - $" + item.selectedPeople.price + "</li>";
        }
    }

    var totalPriceElement = document.getElementById('total-price');
    totalPriceElement.innerHTML = 'GRAND TOTAL:<b> $' + totalPrice + '</b>';
}
</script>


<script>
var stripe;
var orderData = {
  items: [{ id: "photo-subscription" }],
  currency: "usd"
};

var pay = function(stripe, card) {
  // changeLoadingState(true);

  // Collects card details and creates a PaymentMethod
  stripe
    .createPaymentMethod("card", card)
    .then(function(result) {
      if (result.error) {
        // showError(result.error.message);
        console.log(result);
      } else {
        orderData.paymentMethodId = result.paymentMethod.id;

        return fetch("/pay", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(orderData)
        });
      }
    })
    .then(function(result) {
      return result.json();
    })
    .then(function(response) {
      if (response.error) {
        showError(response.error);
      } else if (response.requiresAction) {
        // Request authentication
        handleAction(response.clientSecret);
      } else {
        orderComplete(response.clientSecret);
      }
    });
};


    var setupElements = function(data) {
  stripe = Stripe(data);
  /* ------- Set up Stripe Elements to use in checkout form ------- */
  var elements = stripe.elements();
  var style = {
    base: {
      color: "#32325d",
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: "antialiased",
      fontSize: "16px",
      "::placeholder": {
        color: "#aab7c4"
      }
    },
    invalid: {
      color: "#fa755a",
      iconColor: "#fa755a"
    }
  };


  var card = elements.create("card", { style: style });
  card.mount("#card-element");

  return {
    stripe: stripe,
    card: card,
    clientSecret: data.clientSecret
  };
};


const setelem = setupElements('{{stripe}}');

var form = document.getElementById("payment-form");
form.addEventListener("submit", function(event) {
      event.preventDefault();
      pay(setelem.stripe, setelem.card, setelem.clientSecret);
    });
    
// var localStorageCart = JSON.parse(localStorage.getItem("cart"));
// var totalPrice = 0;

// if (localStorageCart) {
//     for (var i = 0; i < localStorageCart.length; i++) {
//         var item = localStorageCart[i];
//         totalPrice += item.selectedPeople.price;

//         if (item.selectedBakcground != null) {
//             totalPrice += item.selectedBakcground.price;
//         }
//     }

//     const payButtonBlock = document.getElementById("pay-button");
//     const script = document.createElement('script');
//     script.setAttribute('src', '//checkout.stripe.com/v2/checkout.js');
//     script.setAttribute('class', 'stripe-button');
//     script.setAttribute('data-key', '{{ stripe }}');
//     script.setAttribute('data-description', 'Stripe payment');
//     script.setAttribute('data-amount', totalPrice * 100);

//     payButtonBlock.appendChild(script);
// }

document.getElementById('createOrder').addEventListener('click', (req, res, next) => {
   var localStorageCart = JSON.parse(localStorage.getItem("cart"));

const order = [];
    
   for(var m = 0; m < localStorageCart.length; m++){
    var item = localStorageCart[m];

     order.push({
        peoplePrice: item.selectedPeople.price,
        backgroundPrice: item.selectedBakcground.price,
        image: item.image,
        text: item.wishesText
     });
   };

  
        fetch("/createOrder",
    {
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        method: "POST",
        body: JSON.stringify({order})
    })
    .then(function(res){ alert('goood!')})
    .catch(function(res){ console.log(res) })
});
</script>