<div class="cartContent">
    <div class="cartHead">CART</div>
    <div id="cart"></div>
    <div class="nextPartOrder">
        <div class="saveOfOrder">YOU SAVE: <span style="color: red;"><b>50% </b></span>OFF</div>
        <div class="grandTotal" id="total-price">GRAND TOTAL:</div>
        <br>

        <form id="payment-form">
            <div class="form-group email-block">
                <label for="email">Enter your email *</label>
                <small class="form-text">Your email for us to send your finished digital product to!</small>
                <input type="email" id="email" class="form-control" required>
                <small class="form-text text-danger email-error">email is invalid</small>
            </div>
            <div id="card-element" style="margin: 20px 0"></div>
            <div class="sr-field-error" id="card-errors" role="alert"></div>
            <button id="way-pay-btn" class="full-btn" style="padding: 5px" type="button" onclick="payWay()">
                Checkout
            </button>
        </form>

<!--        {{#unless login}}-->
<!--            <sapan>Plese <a href="/user/signin">Sign in</a> for pay!</sapan>-->
<!--        {{/unless}}-->

    </div>
    <div class="cartPageVisual">
        <hr>
        <div>
            <h2 style="margin-bottom: 25px">You don't have any orders yet.</h2>
            <a type="button" href="/order-page" class="getHome">Get my Cartoon! ➜</a>
        </div>
    </div>
</div>
