<div class="cartPageVisual">
    <div class="successContent">
        <div class="titleSuccess">
            <h1>Cart is empty yet!</h1>
        </div>
        <hr>
        <div class="getHomebtn">
            <a type="button" href="/orderPageTest" class="getHome">Go to create an order ➜</a>
        </div>
    </div>
</div>
<div class="cartContent">
    <div class="cartHead">CART</div>
    <div id="cart">
    </div>
    <div class="nextPartOrder">
        <div class="saveOfOrder">YOU SAVE: <span style="color: red;"><b>50% </b></span>OFF</div>
        <div class="grandTotal" id="total-price">GRAND TOTAL:</div> <br>

        <!-- TIMER -->
        <!-- <div style="display: flex;">
             <div style="margin-right: 5px"> The cart will expire in</div>
              <div id="countDown" style="color: red">10:00</div>
            </div> -->
        <!-- <button class="updateBtn" onclick="updateTime()">UPDATE</button> -->
        <!-- TIMER -->

        <!-- SECOND CHECKOUT BUTTONS -->
        <!-- <a class="checkoutBtn" href="/checkoutTest" type="button" >CHECKOUT</a> -->
        <!-- SECOND CHECKOUT BUTTONS -->
    </div>
</div>
<script>
// timer for expire cart
// var minutes = 9;
// var seconds = 60;
// var time = document.getElementById("countDown")

// setInterval( function() {
//   if( minutes == 0 && seconds == 1){
//     time.innerHTML = "00:00"
//   }else{
//     seconds--;
//     if(seconds == 0){
//       minutes--;
//       seconds = 60;
//       if (minutes == 0) {
//         minutes = minutes;
//       }
//     }
//     time.innerHTML = minutes + ":" + seconds;
//   }
// }, 1000);
// timer for expire cart

showCartElement();

var localStorageCart = JSON.parse(localStorage.getItem("cart"));

if (localStorageCart == null) {
    localStorageCart = [];
}


localStorage.setItem("cart", JSON.stringify(localStorageCart));
showCartElement();


function getItemTemplate(numPpl, bgName, price, text, image, index) {
    text = text || '';
    return '<div class="orderDetails">' +
        '<div class="namberOfOrder"><b>0000</b></div>' +
        '<div class="orderPhoto"><img src="' + image + '"></div>' +
        '<div class="details">' +
        '<div class="hOrder">Original Dream Portrait Art</div>' +
        '<div class="numberOfPeopleOrder">Number of people:<b> ' + numPpl + '</b></div>' +
        '<div class="backgroundOrder">Background: ' + bgName + '</div>' +
        '<div class="noteOrder">Note: ' + text + '</div>' +
        '<div class="priceOrder">Price:  <del>$' + price * 2 + ' <b></del> $' + price + '</b></div>' +
        '</div>' +
        '<div class="price-Order"><b>$' + price + ' </b></div>' +
        '<button class="deleteOrder" onclick="ClearData(' + index + ')"><img src="/images/container.png" alt=""></button>' +
        '</div>';
};


function showCartElement() {
    var localStorageCart = JSON.parse(localStorage.getItem("cart"));
    var totalPrice = 0;

    if (!localStorageCart) {
        return;
    }

    var shoppingCart = document.getElementById('cart');
    shoppingCart.innerHTML = '';

    for (var i = 0; i < localStorageCart.length; i++) {
        var item = localStorageCart[i];
        totalPrice += item.selectedPeople.price;

        if (item.selectedBakcground != null) {
            totalPrice += item.selectedBakcground.price;
        }

        if (item.selectedBakcground != null) {
            shoppingCart.innerHTML += getItemTemplate(item.selectedPeople.id, item.selectedBakcground.name, item.selectedPeople.price, item.wishesText, item.image, i);
        } else {
            shoppingCart.innerHTML +=
                "<li>People: " + item.selectedPeople.id + " - $" + item.selectedPeople.price + "</li>";
        }
    }

    var totalPriceElement = document.getElementById('total-price');
    totalPriceElement.innerHTML = 'GRAND TOTAL:<b> $' + totalPrice + '</b>';
}


function ClearData(index) {
    var localStorageCart = JSON.parse(localStorage.getItem("cart"));
    localStorageCart.splice(index, 1);
    localStorage.setItem('cart', JSON.stringify(localStorageCart));
    showCartElement();
    updateCartQty();
    if (localStorageCart.length <= 0) {
        window.location.href = '/orderPageTest';
    }
}

</script>
