<div class="signIn">
    <div class="signInContent">
        <div class="signIn">Forgot password</div>
        <hr>
        <div class="welcomeBack">Forgot password!</div>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{ this }}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/forgot-password" method="post">
            <div class="form-group">
                <input type="text" id="email" name="email" class="form-control" placeholder="E-mail">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button class="signInBtn">CHECK EMAIL</button>
            </div>
        </form>
    </div>
</div>
