<div class="authenticate-content reset-password">
    <div class="authenticate-form">
        <div class="authenticate-title">Reset password</div>
        <hr>
        <div class="authenticate-subtitle">Forgot password?</div>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{ this }}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/forgot-password" method="post">
            <div class="form-group">
                <input type="text" id="email" name="email" class="form-control" placeholder="E-mail">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button class="auth-form-btn">CHECK EMAIL</button>
                <hr>
            </div>
        </form>
    </div>
</div>
