<div class="row">
<div style="display: grid;   grid-template-columns: 25% 75%;">
<div class="userManagement">
    <div class="user-name">
        <div id="name"></div>
        <h4>My account</h4>
        <h5>Menage account</h5>
    </div>
    <div class="menage-nav">
    <div><a class="change-password">Change password</a></div>
    <div><a href="/user/profile" class="my-orders">My orders</a></div>
    <div><a href="/user/logout" class="sign-out">Sign out</a></div>
    </div>
</div>

    <div class="ordersContent">
        <div class="cartHead">My orders</div>
        <div class="orderDetails">
            <div class="namberOfOrder"><b>0000</b></div>
            <div class="orderPhoto"><img src=""></div>
            <div class="details">
                <div id="date"></div>
                <div id="orderId"></div>
                <div class="numberOfPeopleOrder">Number of people:</b></div>
                <div class="backgroundOrder">Background:</div>
                <div class="noteOrder">Note:</div>
                <div class="priceOrder">Price:<b></b></div>
            </div>
            
        </div>

    </div>
    
</div>
</div>