<div class="authenticate-content signin">
    <div class="authenticate-form">
        <div class="authenticate-title">SIGN IN</div>
        <hr>
        <div class="authenticate-subtitle">Welcome back!</div>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{ this }}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signin" method="post">
            <div class="form-group">
                <input type="text" id="email" name="email" class="form-control" placeholder="E-mail">
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button class="auth-form-btn">SIGN IN</button>
                <hr>
                <div class="subtitleSignIn">
                    <a class="dropdown-item" href="/user/register">Don't have an account? <b>Register now!</b></a>
                    <a class="dropdown-item" href="/user/forgot-password">Forgot password?</a>
                </div>
            </div>
        </form>
    </div>
</div>
