<div>
    <div class="successContent" style="margin: 0 auto;">
        <div class="titleSuccess">
            <h1>Reset link has been sent to your email!</h1>
        </div>
        <hr>
        <div class="getHomebtn">
            <a style="text-decoration: none;" type="button" href="/home-page" class="getHome">Back to Home Page ➜</a>
        </div>
    </div>
</div>