
<div class="grid-container1">
  <div>
    <h>Welcome!</h>
     <hr class="hr1">
     <div class="textCU">
     <b><p><li>If you have just places an order please wait at least 3-5<br>
       busines days before requesting information about your order. You'll<br>
       help us to work better on you beautiful Portraits.<br> 
       <li>Please notee that our cutomer support is active from Monday<br> 
       to Friday.</p></b>
   </div>
   <form action="/contactUsTest/submit" method="POST">
     <input type="text1" name="contactFname" placeholder="First Name">
     <input type="text2" name="contactLname" placeholder="Last Name">
     <input type="email" name="contactEmail" placeholder="E-mail">
     <textarea type="message" name="contactMessage" placeholder="Message"></textarea>
<div class="btn">
     <button type="submit" class="sendBtn">SEND</button>
  </div>
  </form>


</div>
</div>
