

<div class="info-content">
  <div>
    <h>F.A.Q.</h>
     <div class="info-wrap">
    <strong><b>1. How long does it take?</strong><br>
We work as quickly as possible on your order. However, there are times when a large number of orders are,<br>
received simultaneously, so we are very busy. We aim to deliver your hand-drawn portrait in 5-10 business days.<br><br>
<strong>2. What currency are DreamPortrait Store prizes awarded?</strong><br>
All prices in our shop are shown in USD.<br><br>
<strong>3. How is the portrait sent?</strong><br>
Your portrait will be digital so it will be emailed to you as soon as it's ready.<br><br>
<strong>4. What if I am not satisfied with my portrait?</strong><br>
Our artists have incredible talent and always do great job. But sometimes you don't meet the person from the<br>
picture in the cartoon exactly as the client imagined. We beg you to understand that we offer cartoon portrait<br>
and not a realistic one its obvious that they look alike but not identical with the same characteristics. We can<br>
make changes one time after the first version that we will send you, where you can write all the little things that<br>
you would like to add remove/change from the portrait. If there will be more edit after the review of the portrait,<br>
additional fees may apply. The time limit to ask any kind of change must be within 48 hours.<br><br>
<strong>5. What can l use as a background?</strong><br>
Whatever you want. Hust tell us your idea and we will implement it. You can also choose from ready-made<br>
backgrounds.<br><br>
<strong>6. How big is the Image?</strong><br>
The image is 3600x4000 pixels or 4000x3600 pixels and has @ resolution of 300ppi. You will receive a high<br>
resolution image file from us and you can then print in any frame size.<br><br>
<strong>7. I haven't received an email. What can Ido?</strong><br>
In the rarest of cases, you may not receive our email s. A quick glance at the spam folder is often enough. if you<br>
do not find what you are looking for, do not hesitate to send us an email at any time.<br><br>
<strong>8. Is there a preview of my cartoorl?</strong><br>
Unfortunately, a preview is not possible because each Dreamtale Artis drawn individually and by hand. Logically,<br>
the portrait cannot be shown until the drawing has been made.<br><br>
<strong>9. Do pets count as one person?</strong><br>
Yes.<br><br>
<strong>10. Can I do what I want with my portrait?</strong><br>
Yes, absolutely, unlike other suppliers, we don't limit you. You can do whatever you want with your photo.<br><br>
<strong>11. Can o Portrait consist of multiple photos?</strong><br>
Yes, The people on the drawing to be created don't have to be shown in the same photo. Just be sure to describe<br>
exactly how your portrait should be drawn in the note field.<br><br>
<strong>12. What is the quality of the photo that I have to upload when ordering?</strong><br>
The better the quality of the photo, the easier it will be to have an exact idea of you and your loved ones. But don't<br>
worry, we will let you know if we have any problems.<br><br>
<strong>13. I plan to have a large group drawn. Is this also possible?</strong><br>
Of course, just write us an email at support@dreamportrait.com to receive a corresponding offer here.<br><br>
<strong>14. Will I be charged for adjustments to my order that I send after placing the order?</strong><br>
It is the customer's responsibility to provide all the details he expects in his order in the order notes. All details<br>
that are not included in the order notes are assumed by us and involve additional costs if the customer<br>
subsequently specifies the adjustments.<br><br>
<strong>15. What is a digital portrait?</strong><br>
You will receive at your email address a link with the digital version of your portraits and with it you can print<br>
yourself or not.<br>
   </div>
  </div>
</div>

