<div class="info-content" id="faq-content">
    <div>
        <h>F.A.Q.</h>
        <div class="info-wrap">
            <div class="faq-question"><b>How long does it take?</b></div>
            <div class="faq-answer">Our team of artists work as fast as they can but sometimes we are very busy, we aim to get your hand-drawn digital portrait out to you in 3-5 days.</div>
            <br>
            <div class="faq-question"><b>How is the portrait sent?</b></div>
            <div class="faq-answer">Your portrait will be digital so it will be emailed to you as soon as it's ready.</div>
            <br>
            <div class="faq-question"><b>What is a digital portrait?</b></div>
            <div class="faq-answer">You will receive at your email address a link to a downloadable JPEG file that can be used digitally or for high-quality print.</div>
            <br>
            <div class="faq-question"><b>What if I am not happy with my portrait?</b></div>
            <div class="faq-answer">Our artists are incredibly talented and always do an amazing job, however, sometimes working from a photo we miss the essence of the person and are always ready to make revisions until you are 100% happy with your portrait.</div>
            <br>
            <div class="faq-question"><b>Do pets count as a person?</b></div>
            <div class="faq-answer">Pets are people too! We offer to draw your furry loved ones in detail with accessories! Hence, absolutely yes!</div>
            <br>
            <div class="faq-question"><b>What dimensions will my illustration come in?</b></div>
            <div class="faq-answer">The standard size (dimensions) are 24x18 inches. If you would like a different size just let us know in your order notes :)</div>
            <br>
            <div class="faq-question"><b>What currency are Dream Portrait prices?</b></div>
            <div class="faq-answer">All prices on our store are denominated in USD.</div>
            <br>
            <div class="faq-question"><b>Is there a preview of my cartoon?</b></div>
            <div class="faq-answer">Unfortunately, a preview is not possible because each Dream Portrait Art is drawn individually and by hand. Logically, the portrait cannot be shown until the drawing has been made.</div>
            <br>
            <div class="faq-question"><b>Will I be charged for changes to my order after it's been made?</b></div>
            <div class="faq-answer">It is the customer's responsibility to specify all details they would like in their order in the order notes. Any details not included in the order notes will be assumed by our artist and will result in additional charges if the customer requires changes.</div>
            <br>
            <div class="faq-question"><b>Can I do whatever I want with my portrait?</b></div>
            <div class="faq-answer">Yes, absolutely, unlike some we put no restrictions on your portrait, it’s yours to do whatever you want with.</div>
            <br>
            <div class="faq-question"><b>I plan to have a large group drawn. It is also possible?</b></div>
            <div class="faq-answer">No problem just drop us a message in our "Contact Us" page and we can discuss large jobs.</div>
            <br>
            <div class="faq-question"><b>What quality should the photo I send to you be?</b></div>
            <div class="faq-answer">The better quality the photo the easier it will be for our artists to get a more accurate illustration of you on the other side. But don’t worry, we’ll let you know if we’re having any issues.</div>
            <br>
            <div class="faq-question"><b>What is your customer service email?</b></div>
            <div class="faq-answer"><a href="=mailto:support@dream-portrait.com">support@dream-portrait.com</a></div>
        </div>
    </div>
</div>

