 
<div class="grid-container2">
  <div>
    <h>Privacy Policy</h>
     <div class="textPP">
     <b>This privacy policy ("policy") will help you understand how [name] ("us", "we" "our") uses and protects the data<br>
you provide to us when you visit and use [website] ("website", "service").We reserve the right to change this<br>
policy at any given time, of which you will be promptly updated. If you want to make sure that you are up to<br>
date with the latest changes, we advise you to frequently visit this page.<br>
What User Data We Collect<br>
When you visit the website, we may collect the following data:<br>
   <li>Your IP address.<br></li>
    <li> Your contact information and email address.<br></li>
   <li>Other information such as interests and preferences.<br></li>
    <li> Data profile regarding your online behavior on our website.<br></li>
Why We Collect Your Data<br>
We are collecting your data for several reasons:<br>
   <li>To better understand your needs.<br></li>
   <li>To imprave our services and products.<br></li>
    <li>To send you promotional emails containing the information we think you will find interesting.<br></li>
    <li>To contact you to fill out surveys and participate in other types of market research.<br></li>
    <li>To customize our website according to your online behavior and personal preferences.<br></li>
Safeguarding and Securing the Data<br>
[name] is committed to securing your data and keeping it confidential. [name] has done all in its power to<br>
prevent data theft, unauthorized access, and disclosure by implementing the latest technologies and saftware,<br>
which help us safeguard all the information we collect online.<br>
Our Cookie Policy<br>
Once you agree to allow our website to use cookies, you also agree to use the data it collects regarding your<br>
online behavior (analyze web traffic, web pages you spend the most time on, and websites you visit).<br>
The data we collect by using cookies is used to customize our websīte to your needs. After we use the data for<br>
statistical analysis, the data is completely removed from our systems. Please note that cookies don't allow us<br>
to gain control of your computer in any way. They arc strictly used to manitor which pages you find useful and<br>
which you do not so that we can provide a better experience for you.If you want to disable cookies, you can do<br>
it by accessing the settings of your internet browser. (Provide links for cookie settings for major internet<br>
browsers).<br>
Links to Other Websites<br>
Our website contains links that lead to other websites. If you click on these links [name] is not held responsible<br>
for your data and privacy protection. Visiting those websites is not governed by this privacy policy agreement.<br>
Make sure to read the privacy policy documentation of the website you go to from our website.<br>
Restricting the Collection of your Personal Data<br>
At some point, you might wish to restrict the use and collection of your personal data. You can achieve this by<br>
doing the following:<br>
Whenyou are filling the forms on the website, make sure to check if there is a box which you can leave<br>
unchecked, if you don't want to disclose your personal information.If you have already agreed to share your<br>
information with us, feel free to contact us via email and we will be more than happy to change this for you.<br>
[name] will not lease, sell or distribute your personal information to any third parties, unless we have your<br>
permission We might do so if the law forces us. Your personal information will be used when we need to send<br>
you promotional materials if you agree to this privacy policy.</b>
   </div>
  </div>
</div>
