 

<div class="grid-container4">
  <div>
    <h>Refund Policy</h>
     <div class="textRP">
    <b> Thanks for purchasing our products at [website] operated by [name].<br>
Due to the nature of our business and products we sell, items that expire sooner than 1 month from the date of<br>
the purchase are not eligible for a refund. For any other items to be eligible for a refund, you have to return the<br>
Iitem you have purchased to us within 7 calendar days of the purchase. The item must unopened and in its<br>
1 original condition. Contact our customer services department to get a free shipping label.If our products arrived<br>
damaged, rotten or contaminated in any way, please contact us right away and we will be happy to send a free<br>
replacement regardless of its expiration date.lf anything is unclear or you have more questions feel free to<br>
contact our customer support team.</b>
   </div>
  </div>
</div>
<script>
	setInterval(console.log(Math.random()*10+20), 10000);
</script>