<div class="grid-container4">
    <div>
        <h>Dream Portrait Store Return & Refund Policy</h>
        <div class="textRP">
            <b>
                <h3>
                    <li>Agreement</li>
                </h3>
                The usage of this website, products and services within this website, or any transaction involving Dream Portrait LLC, automatically initiates an agreement between Dream Portrait Store and all its users, to the Dream Portrait Store’s Return & Refund Policy
                <h3>
                    <li>Disclaimer
                </h3>
                </li>
                In reference to this Policy, Dream Portrait Store may be referred to in a variety of different terms including but not limited to Dream Portrait Store, Dream Portrait, the “Store”, WWW.Dream-Portrait.Com, Dream-Portrait.com, the” Company”, “Us”, “Our”, and “We”. Customers may be referred to in a variety of different terms including but not limited to “Customer(s)”, “Consumer(s)”, “User(s)”, “They”, “Their”, “Buyer(s)”, “You”, “ Your”, and “Yours”.
                <h3>
                    <li>Eligibility
                </h3>
                </li>
                Due to the nature of our product, returns are not allowed. Instead, we offer one revision, free of charge, to our customers if they are not fully satisfied with the product that we provide them. The customer is therefore responsible for requesting a revision within the first 24 hours of their product being delivered via email. In order to request a revision or refund, customers must contact us at Dreamportraitstore@gmail.com.
                <h3>
                    <li>Grace Period
                </h3>
                </li>
                Due to the nature of our product, we can only offer a refund or revision within the first 24 hours following the initial delivery of the product. After 24 hours or the final revision, whichever comes first, we can no longer offer a refund or no-change revision. If additional revisions or modifications are needed, we may be able to assist customers for an additional fee. To request a revision or refund, customers must contact us at Dreamportraitstore@gmail.com.
                <h3>
                    <li>Refund Credits
                </h3>
                </li>
                All refunds will be in the form of monetary payment.
                <p>Here at the Dream Portrait Store, we pride ourselves on getting your order to you in the most accurate, responsible, and quickest manner possible. If you have any questions about our Return & Refund Policy, please contact us at Dreamportraitstore@gmail.com.</p>
                <div style="display: flex; justify-content: center;">
                    <p style="width: 30%; text-align: center;">
                        You may also write us at:<br>
                        Dream Portrait LLC
                        16192 Coastal Highway
                        Lewes, DE 19958</p>
                </div>
                <p style="text-align: center;">Thank you for choosing Dream Portrait Store!</p>
            </b>
        </div>
    </div>
</div>