<div style=" padding: 20px 120px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;" class="mail-template art-download">
    <img class="logo-for-mail" src="/images/logo-for-mails.png" width="300px">
    <h4 style="padding-top: 70px font-size: 24px; text-align: left;">
        HERE'S YOUR DELIVERY!
    </h4>
    <p style="font-size: 16px; text-align: left;">
        Thanks again for your order!
    </p>
    <p style="padding-bottom: 70px; font-size: 16px; text-align: left;">
        Your delivery is unclosed. UIf there are any problems, pletoase <a>let us know</a>.
        We'll get back to you as soon as we can.
    </p>
    <div>
        <a target="_blank" href="https://www.dream-portrait.com/user/profile"><button style=" width: 200px;
    background-color: #FFD8FE;
    padding: 0 20px;
    line-height: 50px;
    border: none;
    margin: 0 auto;" class="mail-button">Download My Portrait</button></a>
    </div>
    <p>
        Thank you so much,<br />
        The Dream Portrait team
    </p>
</div>