<div style=" padding: 20px 120px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;" class="mail-template reviews">
    <img class="logo-for-mail" src="/images/logo-for-mails.png" width="300px">
    <p style="padding-top: 70px font-size: 24px; text-align: left;">
    Thank you for shopping  with Dream Portrait recently - we hope you were happy with your order.
    </p>
    <p style="padding-bottom: 70px; font-size: 16px; text-align: left;">
    We'd love to know how you found the experience of using Dream Portrait so would like to invite  you to rate us -
        it will only take two ticks and will be invaluable to us!
    </p>
    <div>
        <a target="_blank" href="$1"><button style="   width: 200px;
    background-color: #FFD8FE;
    padding: 0 20px;
    line-height: 50px;
    border: none;
    margin: 0 auto;" class="mail-button">Review</button></a>
    </div>
    <p>
        Thank you so much,<br />
        The Dream Portrait team
    </p>
</div>