.info-content > div {
  width: 850px;
  background-color: rgb(255,255,255,0.4);
  padding: 10px 10px;
  text-align: center;
  margin: 25px auto ;
}

.info-wrap{
  text-align: left;
  font-size: 10px;
  padding: 0 26px;
  margin: 5px 0;
}
.info-wrap .title{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.info-wrap .subtitle{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

}
.info-wrap p{
  font-family: Arial, Helvetica, sans-serif;

}
.info-wrap li{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.info-wrap b{
   font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}


@media(max-width: 768px){
    .info-content > div {
      width: 100%;
    }

}

@media (max-width: 460px) {
    .info-content > div {
      padding: 0;
    }
    .info-content h{
      font-size: 30px;
    }

    .textFQ {
    font-size: 14px;
    }

}

