.home-page{
    width: 100%;
    position: relative;
}
.wrap-item1{
    width: 100%;
    position: relative;
    display: block;
}

.wrap-item1 .main-img-div{
    position: absolute;
    right: 0;
    display: block;
    max-width: 1200px;
}

.wrap-item1 .small-main-img{
    display: none;
}


.wrap-item1 a{
    width: 100%;
    position: relative;
    vertical-align: middle;
}

.wrap-item2{
    width: 100%;
    direction: block;
    position: relative;
    clear: both;
}

.wrap-item-icons{
    width: 50%;
}

.wrap-item-icons .wrap-item-icon{
    width: 33%;
    display: inline-block;
}


.small_img_home {
    display: none
}

.main-img .loaded img{
    opacity: 1;
}






@media(max-width: 1235px) {
    .btn_home {
        top: 87%;
        font-size: 23px;
        padding: 7px 25px;

    }

    .btn_home:hover {
        padding: 8px 26px;
    }

    .description {
        grid-template-columns: 30% 30% 30%;

    }

    .how-it-work-desc {
        font-size: 20px;
    }
}

@media(max-width: 770px) {


    .img_home {
        height: 550px;
        object-fit: cover;
    }

    .btn_home {
        font-size: 23px;
        padding: 7px 25px;
    }



}

@media(max-width: 483px) {

    .img_home {
        display: none;
    }

    .small_img_home {
        width: 100%;
        display: flex;
    }

    .primary-btn {
        top: 89%;
        left: 50%;
        font-size: 18px;
        padding: 4px 20px;
    }

    .primary-btn:hover {
        padding: 5px 21px;
    }

    .description {
        display: block;
    }

    .description h {
        font-size: 25px;
    }

    .how-it-work-desc {
        font-size: 11px;
    }

}

@media(max-width: 378px) {
    .how {
        font-size: 30px;

    }

    .how-it-work {
        margin-top: 5px;
    }

    .description img {
        width: 100px;
    }

    .description div {
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: .5px;
    }
}