.home-page{
    width: 100%;
}
.wrap-item1{
    width: 100%;
    display: block;
}
.wrap-item1 .main-img{
    width: 100%;
    position: relative;
    left: 0;
}
.wrap-item1 .main-img-div{
    width: 100%;
    position: relative;
}
.small_img_home {
    display: none
}
.main-img .loaded img{
    opacity: 1;
}
.wrap-item1 .small-main-img{
    display: none;
}
.wrap-item1 button{
 position: relative;
  left: 15%;
}
.wrap-item2{
    width: 100%;
    direction: block;
    position: relative;
    clear: both;
    text-align: center;
    margin-bottom: 100px;
    background-color: rgba(255, 255, 255, .4);
    padding: 30px;
}
.wrap-item2 h2{
    text-align: center;
}
.wrap-item-icons{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.wrap-item-icons .wrap-item-icon{
    min-width: 170px;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}
.wrap-item-icons .wrap-item-icon img{
    margin-top: 35px;
}

.icon1{
    width: 27%;
    right: 0;
}

.icon2{
    width: 40%;
    right: 0;
}
.icon3{
    width: 27%;
    left: 0;
}
.wrap-item2 .description{
    margin-bottom: 40px;
}
.wrap-item2 p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
    word-spacing: 6px;
}
.wrap-item2 button{
    position: relative;
    }







@media(max-width: 1200px) {
   .wrap-item-icons{
    width: 80%;
}

}

@media(max-width: 768px) {
    
    .wrap-item1 .main-img{
        display: none;
    }
    .wrap-item1 .small-main-img{
        display: block;
        width: 100%;
    }
    .wrap-item-icons .wrap-item-icon{
        width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width: 460px) {
    .wrap-item2{
        padding: 10px;
    }
    .wrap-item2 p{
       word-spacing: 1px;
    }

   

    .primary-btn {
        font-size: 18px;
        padding: 4px 20px;
    }

    .primary-btn:hover {
        padding: 5px 21px;
    }

    

    .description h {
        font-size: 25px;
    }

   

}
