.home-page {
    width: 100%;
    font-family: Montserrat, Helveticatitle, sans-serif;
    position: relative;
}

/** LATEST CHANGES START*/
.examples-flex {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.text-example {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-bold {
    font-weight: bold;
}

.flex-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .example-left {
        flex-basis: 50%;
        padding-right: 100px;
    }

    .example-right {
        flex-basis: 50%;
        padding-left: 100px;
    }

    .example-right-small-padding {
        flex-basis: 50%;
        padding-left: 50px;

    }

    .image-example {
        flex-basis: 50%;
    }
}

@media (max-width: 768px) {
    .text-example > h1 {
        font-size: 32px;
    }

    .text-size-26-mobile {
        font-size: 26px;
    }
}

.text-example > h1 {
    font-weight: bolder;
}

.text-example > h3 {
    font-size: 22px;
    line-height: 1.8;
}

.image-example > img {
    width: 100%;
}

.center-text {
    text-align: center;
}

.video-demo {
    position: absolute;
    height: 80%;
    width: 50%;
    top: 13%;
    left: 25%;
    border: 2vw solid white;
    border-radius: 50px;
}

.video-demo-mobile {
    background-color: #ffdaff;
    height: 300px;
    margin-bottom: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.video-demo-iframe-mobile {
    width: 100%;
    height: 60%;
}

.text-size-26 {
    font-size: 26px;
}

.text-wrapper {
    position: absolute;
    height: 6%;
    width: 40%;
    top: 7%;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 35px 35px 8px 8px;
    /*border-top-left-radius: 45px;*/
    /*border-top-right-radius: 45px;*/
    /*border-bottom-left-radius: 20px;*/
    /*border-bottom-right-radius: 20px;*/
}

.text-wrapper > h1 {
    font-size: 1.5vw;
    font-weight: bolder;
}

.demo-background-image {
    width: 100%;
    height: auto;
}

.demo-parent {
    position: relative;
    margin-bottom: 50px;
}

.video-description {
    color: black;
    background: white;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 38px;
    font-weight: bold;
    border-radius: 30px;
}

/*@media (max-width: 768px) {*/
/*    .video-demo {*/
/*        height: 50vh !important;*/
/*    }*/

/*}*/

.center-video {
    display: flex;
    justify-content: center;
    align-items: center;
}
/** LATEST CHANGES END */

.wrap-item1 {
    width: 100%;
    display: block;
    background-color: #ffd8fe;
    position: relative;
}

.wrap-item1 .main-img {
    width: 100%;
    position: relative;
    left: 0;
}

.wrap-item1 .main-img-div {
    width: 100%;
    position: relative;
}

.small_img_home {
    display: none
}

.main-img .loaded img {
    opacity: 1;
}

.wrap-item1 .small-main-img {
    display: none;
}

.wrap-item1 button {
    position: relative;
    left: 17%;
    transform: translateY(-400%);
}

.wrap-item2 {
    width: 100%;
    direction: block;
    position: relative;
    clear: both;
    text-align: center;
    margin-bottom: 100px;
}

.wrap-item2 h2 {
    text-align: center;
}

.wrap-item-icons {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.wrap-item-icons .wrap-item-icon {
    min-width: 170px;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.wrap-item-icons .wrap-item-icon img {
    margin-top: 35px;
}

.icon1 {
    width: 27%;
    right: 0;
}

.icon2 {
    width: 40%;
    right: 0;
}

.icon3 {
    width: 27%;
    left: 0;
}

.wrap-item2 .description {
    margin-bottom: 40px;
}

.wrap-item2 button {
    position: relative;
}

.home-page .wrap-item2 {
    margin-bottom: 30px;
}

.sample-video {
    width: 100%;
    height: 60vh;
}

#demo-images {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#demo-images > a {
    position: relative;
    padding: 10px;
}

#demo-images > a > img {
    position: relative;
    width: 250px;
    height: auto
}

@media (max-width: 2000px) {
    .wrap-item1 button {
        left: 14%;
        transform: translateY(-320%);
    }
}

@media (max-width: 1550px) {
    .wrap-item1 button {
        left: 12%;
        transform: translateY(-250%);
    }
}


@media(max-width: 1200px) {
    .wrap-item-icons {
        width: 80%;
    }

    .wrap-item1 button {
        left: 11%;
        transform: translateY(-230%);
    }}

@media(max-width: 992px) {
    .wrap-item1 button {
        left: 12%;
        transform: translateY(-240%);
    }
}

@media(max-width: 768px) {
    .wrap-item1 .main-img {
        display: none;
    }

    .wrap-item1 .small-main-img {
        display: block;
        width: 100%;
    }

    .wrap-item-icons {
        display: flex;
        width: 100%;
        position: relative;
    }

    .wrap-item-icons .wrap-item-icon {
        min-width: auto;
        width: 33%;
        font-size: 0.6rem;
    }


    .wrap-item-icons .wrap-item-icon img {
        width: 100px;
        height: auto;
    }

    .wrap-item1 button {
        left: 50%;
        transform: translateY(-240%) translateX(-50%);
    }

    .wrap-item2 p {
        font-weight: 400;
    }

    .sample-video {
        height: 300px;
    }
}

@media(max-width: 425px) {
    .sample-video {
        width: 100%;
        padding: 0 10px;
        height: 200px;
    }

    #demo-images > a > img {
        width: 100%;
    }
}

@media(max-width: 550px) {

}

@media(max-width: 460px) {
    .wrap-item2 p {
        word-spacing: 1px;
    }

    .wrap-item1 button {
        left: 50%;
        transform: translateY(-130%) translateX(-50%);
    }

    .primary-btn2 {
        font-size: 26px;
        line-height: 60px;
        width: 300px;
    }

    .description h {
        font-size: 25px;
    }
     .wrap-item2 p {
        font-size: 13px;
    }

}
