
.order-page .subwrap1{
        width: 40%;
        display: inline-block;
}
.order-page .subwrap2{
    width: 40%;
    display: inline-block;
}
.order-page .wrap-item {
        width: 540px;
        background-color: rgb(255, 255, 255, 0.4);
        padding: 20px 20px;
        text-align: left;
    }

    .wrap-item .descriptionOfSale {
        padding: 30px;
    }


    .item-with-photo img {
        cursor: pointer;
    }

    .galery {
        width: 390px;
        height: 260px;
        color: white;
        box-shadow: 0 0 10px 0.5px;
        margin: 15px 14px;
    }


    .people-amount-image {
        width: 70px;
        height: 70px;
        padding: 0;
        font-size: 40px;
        line-height: 12px;
        font-family: hellofreeday;
        margin: 3px 5px;
        overflow: hidden;
        cursor: pointer;
        border-radius: 50%;
        border-color: #fff;
        border: 3px solid #D5AEA2;
        transition: border .1s;
        outline: none;
    }



    .people-amount-image:hover {
        border: 4px solid #000;
    }



    .people-amount-image h3 {
        border: none;
    }

    .background-image:hover {
        border: 4px solid #000;
    }


    .background-image {
        width: 60px;
        height: 60px;
        padding: 0;
        font-family: hellofreeday;
        margin: 3px 0;
        cursor: pointer;
        overflow: hidden;
        border-radius: 50%;
        border: 3px solid #D5AEA2;
        transition: border .1s;
    }

    .people-amount-image-clicked {
        border: 4px solid #000;
    }



    .people-amount-image,
    .background-image {
        border-radius: 100%;
    }


    .container {
        display: flex;
        justify-content: center;
    }

    .button-wrap {
        background-color: #FF4B4B;
        padding: 15px 0;
        width: 100%;
        font-size: 17px;
        margin: 10px;
        transition: all 0.5s;
    }

    .button-wrap:hover {
        background-color: #FF9F47;
    }

    .input_text {
        -webkit-box-shadow: 0 0 10px 0.3px grey inset;
        -moz-box-shadow: 0 0 10px 0.3px grey inset;
        box-shadow: 0 0 10px 0.3px grey inset;
    }




    /*=============================*/
    .wrap-item {
        padding: 30px 15px 30px;
        grid-column: 2;
    }


    .container-with-photos {
        overflow: hidden;
        margin: 10px 0;
        width: 460px;
        height: 154px;
        background-color: #E4E9E9;
        color: white;
        box-shadow: 0 0 20px 10px;
    }

    .item-with-photo {
        float: left;
        margin: 4px;
        width: 145px;
        height: 145px;
        overflow: hidden;
    }

    .container-with-photos img:hover {
        border: 5px solid #6A57A4;
    }

    .item-with-photo img {
        width: 145px;
        height: 145px;
        object-fit: cover;
    }


    /* The dots/bullets/indicators */
    .dot {
        display: none;

    }

    .showSlideBcgr {
        display: none;

    }

    .slidercontainerBcgr {
        width: 390px;
        height: 260px;
        position: relative;
        overflow: hidden;
        margin: 5px auto 20px;
        color: white;
        box-shadow: 0 0 20px 10px;
    }

    .showSlideBcgr img {
        object-fit: cover;
        width: 390px;
        height: 260px;
    }



    .showSlide {
        display: none;
    }

    .showSlide img {
        object-fit: cover;
        width: 460px;
        height: 460px;
    }

    .slidercontainer {
        width: 460px;
        height: 460px;
        position: relative;
        overflow: hidden;
        margin: 5px 0 15px 20px;
        color: white;
        box-shadow: 0 0 20px 10px;
    }

    .left,
    .right {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.1s ease;
        border-radius: 0 3px 3px 0;
    }

    .right {
        right: 0;
        border-radius: 3px 0 0 3px;
        text-decoration: none;
    }

    .left:hover,
    .right:hover {
        background-color: rgba(115, 115, 115, 0.8);
    }

    .active {
        background-color: #717171;
    }

    .item-with-photo-clickd {
        border: 5px solid #6A57A4;
    }

    @media(max-width: 1235px) {
        .row {
            margin-left: 0;
        }

        .grid-item.item0 {
            padding: 10px 0 0 10px;0.5
        }

        .wrap-item {
            padding: 10px 0 0 25px;

        }

        .slidercontainer {
            margin-left: 0;
        }

        .container-with-photos {
            width: 460px;
            height: 153px;
        }

        .item-with-photo {
            width: 145px;
            height: 145px;
        }

    }

    @media(max-width: 768px) {
        .wrap-item {
            display: block;
        }

        .wrap-item>div {
            width: 560px;
            padding: 20px 65px;

        }

        .grid-item.item0 {
            padding: 10px;

        }

        .wrap-item {
            padding: 10px;

        }

        .slidercontainer {
            width: 90%;
            height: 500px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        .showSlide img {
            width: 100%;
            height: 500px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        .item-with-photo img {
            width: 167px;
            height: 167px;
        }

        .container-with-photos {
            width: 100%;
        }

        .item-with-photo {
            width: 145px;
            height: 145px;
        }

        .wrap-item-two {
            width: 460px;
        }

        .wrap-item {
            justify-content: center;
        }

        .input_text {
            margin-top: 15px;
        }
    }

    @media(max-width: 483px) {

        .slidercontainer {
            width: 100%;
            margin: 0;
            position: relative;
        }

        .slidercontainerBcgr {
            width: 320px;
            height: 200px;
        }

        .showSlideBcgr img {
            width: 320px;
            height: 200px;
        }

        .container-with-photos {
            display: none;
        }

        .grid-item.item0 {
            padding: 0 2px;
        }

        .wrap-item {
            padding: 0 2px;
        }

        .showSlide img {
            width: 100%;
        }

        .wrap-item>div {
            width: 100%;
            padding: 20px 10px;
        }

        .dots {
            position: absolute;
            width: 100%;
            align-self: flex-end;
        }

        .dot {
            display: block;
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active,
        .dot:hover {
            background-color: #000;
        }


        .background-image {
            width: 55px;
            height: 55px;
            margin: 2px;
            border: 2px solid #D5AEA2;
        }

        .galery {
            width: 100%;
        }

        .features__title {
            font-size: 40px;
        }

        .descriptionOfSale h2 {
            font-size: 25px;
        }

        .descriptionOfSale h3 b {
            font-size: 22px;
        }

        .descriptionOfSale b {
            font-size: 16px;
        }

        .features__title {
            font-size: 25px;
        }

        .people-amount-image {
            width: 61px;
            height: 61px;
            font-size: 25px;
            margin: 3px auto;
            line-height: 13px;
            border: 2px solid #D5AEA2;
        }

        .people-amount-image:hover {
            border: 2px solid #000;
        }

        .background-image:hover {
            border: 2px solid #000;
        }

        .people-amount-image-clicked {
            border: 2px solid #000;
        }

        .galery {
            margin: 15px 0;
            height: 200px;
        }

        .btn-3 {
            margin: 5px 50px;
        }

        .btnUpl {
            font-size: 14px;
        }

        .input_text {
            margin: 15px 0;
            font-size: 22px;
        }

        .add_btn {
            width: 100%;
            height: 60px;
            font-size: 25px;
            margin: 0;
        }

        .fas {
            font-size: 50px;
        }
    }