.order-page {
    width: 100%;
    display: inline-block;
    font-family: Montserrat, Helveticatitle, sans-serif;
}

.order-page .title {
    font-size: 1.25rem;
    color: var(--dark-pink);
}

.order-page .sub-title {
    font-size: 1rem;
}

.order-page .text {
    font-size: 0.8rem;
}

.order-page #text-in {
    border-radius: 10px;
}

.order-page .info-section .info-section-title {
    font-size: 1.25rem;
}

.order-page .info-section .info-section-image {
    position: relative;
    width: 100%;
}

.order-page .info-section .info-section-image img {
    position: relative;
    width: 100%;
    height: auto;
}

.order-page .info-section > p {
    font-weight: normal;
    line-height: 1.3rem;
    font-size: 0.8rem;
}

.order-page .filepond--drop-label {
    border: 2px solid var(--dark-pink);
    border-radius: 0.5rem;
}

.order-page .filepond--label-action {
    text-decoration: none;
    color: var(--dark-pink);
}

.error-message {
    display: none;
}

.main-wrap {
    width: 50%;
    margin: 0 auto;
}

.order-page .subwrap1 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px;
}

.order-page .subwrap2 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding: 25px 10px;
}

.subwrap1 .wrap-item {
    width: 460px;
    background-color: rgb(255, 255, 255, 0.4);
    text-align: left;
    margin: 20px 0;
}

.subwrap2 .wrap-item {
    width: 460px;
    background-color: #fff;
    padding: 20px;
    text-align: left;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.subwrap1 .wrap-item {
    position: relative;
    float: right;
}

.subwrap1 .item1 {
    background-color: rgb(255, 255, 255, 0);
}

.subwrap1 .item2 {
    background-color: rgb(255, 255, 255, 0);
}

.subwrap2 .wrap-item {
    position: relative;
    float: left;
}

.description-of-sale .title {
    border-bottom: 2px solid var(--dark-pink);
}

.counter, .deliver {
    display: flex;
    align-items: center;
}

.counter img {
    width: 20px;
    height: 13px;
    margin: 5px 10px;
}

.deliver img {
    width: 20px;
    height: 20px;
    margin: 5px 10px;
}

.item-with-photo img {
    cursor: pointer;
}

.galery {
    width: 390px;
    height: 260px;
    color: white;
    box-shadow: 0 0 10px 0.5px;
    margin: 15px 14px;
}


.people-amount-image {
    width: 70px;
    height: 70px;
    padding: 0;
    font-size: 40px;
    line-height: 12px;
    font-family: hellofreeday, sans-serif;
    margin: 3px 5px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--circle-border);
    background: transparent;
    transition: border .1s;
    outline: none;
}

.order-page #text-in {
    border-radius: 10px;
    background-color: #f1f0ef;
}

.people-amount-image:hover:not(.people-amount-image-clicked) {
    border: 2px solid var(--dark-pink);
}

.people-amount-image h3 {
    border: none;
}

.background-image {
    width: 60px;
    height: 60px;
    padding: 0;
    font-family: hellofreeday, sans-serif;
    margin: 3px 0;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--circle-border);
    transition: border .1s;
}

.people-amount-image-clicked {
    border: 3px solid var(--dark-pink);
    font-size: 40px;
    text-align: center;
}

.order-page-rating {
    margin: 10px auto;
    display: flex;
    align-self: center;
}

.order-page-rating .star-rating {
    height: 20px
}

.order-page-rating .reviews-qty {
    font-size: 1rem;
    margin-left: 5px;
}

.total-price b {
    padding-left: 10px;
}

.order-page .order-form .title {
    font-size: 1.5rem;
}

.custom-background-img {
    font-size: 22px;
    text-align: center;
    padding: 6px 0;
    width: 60px;
    height: 60px;
}



.people-amount-image,
.background-image {
    border-radius: 100%;
}

.button-wrap {
    display: flex;
    justify-content: center;
    background-color: #FF4B4B;
    padding: 15px 0;
    width: 95%;
    font-size: 17px;
    margin: 10px;
    transition: all 0.5s;
}

.button-wrap:hover {
    background-color: #FF9F47;
}

.input_text {
    -webkit-box-shadow: 0 0 10px 0.3px grey inset;
    -moz-box-shadow: 0 0 10px 0.3px grey inset;
    box-shadow: 0 0 10px 0.3px grey inset;
}




/*=============================*/



.container-with-photos {
    display: flex;
    /*overflow: hidden;*/
    font-size: 30px;
    margin: 0;
    height: 154px;
    background-color: #E4E9E9;
    color: white;
    box-shadow: 0 0 20px 10px;
}

.item-with-photo {
    margin: 4px;
    width: 145px;
    height: 145px;
}

.container-with-photos img:hover {
    border: 5px solid #6A57A4;
}

.item-with-photo img {
    width: 145px;
    height: 145px;
    object-fit: cover;
}


/* The dots/bullets/indicators */
.dot {
    display: none;

}

.showSlideBcgr {
    display: none;

}

.slidercontainerBcgr {
    width: 390px;
    height: 260px;
    position: relative;
    overflow: hidden;
    margin: 5px auto 20px;
    color: white;
    box-shadow: 0 0 20px 10px;
}

.showSlideBcgr img {
    object-fit: cover;
    width: 390px;
    height: 260px;
}

.slick-prev,
.slick-next {
    height: 20px;
    width: 30px;
}

.showSlide {
    display: none;
}

.showSlide img {
    object-fit: cover;
    width: 460px;
    height: 460px;
}

.slidercontainer {
    width: 460px;
    height: 460px;
    position: relative;
    /*overflow: hidden;*/
    color: white;
    margin: 0 auto;
    padding: 0;
}

.left,
.right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.1s ease;
    border-radius: 0 3px 3px 0;
}

.right {
    right: 0;
    border-radius: 3px 0 0 3px;
    text-decoration: none;
}

.left:hover,
.right:hover {
    background-color: rgba(115, 115, 115, 0.8);
}

.active {
    background-color: #717171;
}

.item-with-photo-clickd {
    border: 5px solid #6A57A4;
}

@media(max-width: 1024px) {
    .order-page .subwrap1 {
        width: 100%;
        padding: 10px 0;
    }

    .order-page .subwrap2 {
        width: 100%;
    }

    .subwrap1 .wrap-item {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .subwrap2 .wrap-item {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

}

@media(max-width: 992px) {

    .order-page .subwrap2 {
        padding: 0;
    }

    .main-wrap {
        width: 70%;
    }
}

@media(max-width: 768px) {
    .order-page .subwrap1 {
        padding: 0;
    }

    .main-wrap {
        width: 100%;
    }
}

@media(max-width: 460px) {
    #navLinksManagment {
        padding: 0;
    }

    .subwrap1 .wrap-item {
        width: 100%;
        box-shadow: 0 0 0 0;
    }

    .container-with-photos {
        box-shadow: none;
    }

    .showSlide img {
        width: 410px;
        margin: 0 auto;
        left: 0;
        object-position: right bottom;
    }

    .subwrap2 .wrap-item {
        width: 100%;
    }

    .slidercontainer {
        width: 100%;
        height: 400px;
    }

    .container-with-photos {
        width: 100%;
        height: 124px;
    }

    .item-with-photo {
        width: 31%;
        height: 124px;
    }

    .item-with-photo .current-item {
        width: 100%;
        height: 120px;
    }

    .slidercontainerBcgr {
        width: 100%;
    }

    .showSlideBcgr img {
        width: 100%;
    }

    .subwrap2 .full-btn {
        width: none;
    }

    .custom-background-img {
        font-size: 20px;
    }


    .background-image {
        width: 50px;
        height: 50px;
    }

    .people-amount-image {
        width: 60px;
        height: 60px;
    }
}

#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

/* Cart item */
#cart .cart-item {
    display: flex;
    padding: 10px;
    background: rgb(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

#cart .cart-item .cart-photo {
    width: 150px;
    height: 150px;
    margin-right: 10px;

    background-image: url(/images/default-order-image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#cart .cart-item .cart-info {
    flex-grow: 1;
}

#cart .cart-item .cart-info .cart-title {
    margin: 10px 0;
    font-size: 1.2em;
    font-family: hellofreeday;
    text-overflow: ellipsis;
    color: #6A57A4;
}

#cart .cart-item .cart-info .cart-details-container {
    display: flex;
    justify-content: space-between;
}

#cart .cart-item .cart-info .cart-details-container .cart-details {
    font-size: 0.9em;
}

#cart .cart-item .cart-delete-btn {
    align-self: center;
}

#cart .cart-item .cart-delete-btn button {
    align-self: center;
    background: url(/images/container.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 20px;
    height: 25px;
    padding: 0;
}


@media (max-width: 460px) {
    #cart .cart-item .cart-info .cart-title {
        font-size: 1em;
    }

    #cart .cart-item .cart-info .cart-details-container .cart-details {
        font-size: 0.8em;
    }
}

/* Gallery Carousel using Flickity */
.carousel-cell {
    width: 100%;
    height: 460px;
    margin-right: 10px;
    border-radius: 5px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-nav .carousel-cell {
    height: 100px;
    width: 100px;
}

.carousel-nav .carousel-cell {
    opacity: 0.5;
}

.carousel-nav .carousel-cell.is-nav-selected {
    opacity: 1;
}

.flickity-prev-next-button {
    width: 30px;
    height: 30px;
}

.background-carousel-main .carousel-cell  {
    height: 260px;
}

.background-carousel-main .carousel-cell#custom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--dark-pink);
}

.background-carousel-nav .carousel-cell {
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    text-decoration: none;
    border: 2px solid var(--circle-border);
    transition: border .1s;
}

.background-carousel-nav .carousel-cell:hover:not(.is-nav-selected) {
    border: 2px solid var(--dark-pink);
}

.background-carousel-nav .carousel-cell.is-nav-selected  {
    border: 3px solid var(--dark-pink);
}
