.row {
	width: 100%;
	display: grid;
	justify-content: space-around;
}

.registerContent{
	width: 430px;
	background-color: rgb(255,255,255,0.4);
	text-align: center;
	padding: 20px 30px;
	margin-top: 40px;
	font-size: 16px;
}
h {

}
.registerContent p{
	font-size: 23px;
}

.names {
  display: flex;
  justify-content: space-between;
}
.register {
	margin-bottom: 10px;
}
.welcome {
  font-family: MidnightConstellations;
  font-size: 45px;
  margin: 13px;
}

.formName {
	width: 175px;
	height: 50px;
	margin: 0;
}

.form-control {
	border-radius: 0;
	border: none;
	height: 50px;
}

.registerBtn{
	width: 190px;
	height: 50px;
	font-size: 16px;
    font-family: hellofreeday;
	color: #fff;
	background-color: #00D15A;
	border: none;
	margin: 20px 0 20px;
}
.registerBtn:hover{
	background-color: rgb(0, 209, 90, .6);
}

 .registerContent h{
	letter-spacing: 1px;
}
 .registerContent p{
	letter-spacing: 3px;
	margin: 15px 0 15px;
}

.subtitleRegister {
	margin-top: 7px;
}



@media(max-width: 770px){
	.row {
		width: 768px;
	}
}

@media(max-width: 483px){
	.registerContent {
	width: 480px;
	}
	.formName {
	width: 200px;
	height: 50px;
	/*margin: 0;*/
	} 
}

@media(max-width: 378px){
	.registerContent{
	width: 760px;
	padding: 20px 50px;
	}

	.form-control {
	height: 100px;
	font-size: 30px;
	}

	.formName {
	width: 320px;
	height: 100px;
	font-size: 30px;
	margin: 0;
	} 

	.registerBtn {
	width: 350px;
	height: 75px;
	font-size: 36px;
	margin: 30px 0 30px 0;
	}

	.welcome {
	  font-size: 90px;
	  margin: 13px;
    }

    .subtitleRegister {
	margin-top: 17px;
	  font-size: 35px;

	}

	.register {
	font-size: 30px;
	letter-spacing: 3px;
	}

}