.reviewsContent {
    width: 100%;
}

.reviews {
    width: 100%;
    display: flex;
}

.reviewsAdmin h2 {
    font-size: 30px;
    font-family: hellofreeday;
    word-spacing: 7px;
    color: #6A57A4;
    text-align: center;
}


.reviews-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.reviews-wrapper .card {
    display: none;
}


.reviews-wrapper .fa-check-circle {
    color: black;
    font-size: 1rem;
    margin-left: 10px;
}

.reviews-wrapper .star-rating {
    height: 20px;
    width: 20px;
}

.reviews #show-more {
    position: relative;
    width: 100%;
}

.review-column{
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.card{
    width: 285px;
    margin: 15px;
    padding: 10px;
    vertical-align: top;
}

.dell-review-btn{
    border: none;
    width: 20%;
}
.dell-review-btn:hover{
    background-color: #4FC478;
}

.reviewsAdmin {
    width: 970px;
    margin: 0 auto;
}
.star-rating {
        height: 35px;
        padding: 3px;
    }



@media(max-width: 1200px) {

.review-column{
    width: 32%;
}

}

@media(max-width: 992px) {  }

@media(max-width: 768px) {

.review-column{
    width: 60%;
    margin: 0 auto;
}
}

@media(max-width: 460px) {

.review-column{
    width: 95%;
}
}

