.reviewsContent {
    width: 100%;
}

.reviews {
    width: 100%;
    display: flex;
}

.reviewsAdmin h2 {
    font-size: 30px;
    font-family: hellofreeday;
    word-spacing: 7px;
    color: #6A57A4;
    text-align: center;
    margin: 25px auto;
}

.reviews-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.review-column{
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.card{
    width: 285px;
    margin: 15px;
    padding: 10px;
    vertical-align: top;
}

.dell-review-btn{
    border: none;
    width: 20%;
}
.dell-review-btn:hover{
    background-color: #4FC478;
}

.reviewsAdmin {
    width: 970px;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.star-rating {
        height: 35px;
        padding: 3px;
    }



@media(max-width: 1200px) {

    .reviewsAdmin {
    width: 80%;
    margin: 0 auto;
}

.review-column{
    width: 32%;
}

.card {
    width: 95%;
    margin: 15px;
}

.star-rating {
    height: 31px;
}

}

@media(max-width: 992px) {
    .reviewsAdmin {
    width: 95%;
}

.star-rating {
    height: 25px;
}
}

@media(max-width: 768px) {

.review-column{
    width: 60%;
    margin: 0 auto;
}
.card{
    margin: 15px 0;
    width: 100%;

}
}

@media(max-width: 460px) {

.review-column{
    width: 95%;
}
}

