.main-wrap{
    display: flex;
    justify-content: center;
}

.review-form{
    padding: 30px;
    width: 30%;
    text-align: center;
}
.review-form h2{
    font-size: 30px;
}

.review-form textarea{
    width: 90%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    font-size: 18px;
}