.reviewsContent {
    margin: 25px 200px;
}

.reviews {
    width: 100%;
    display: flex;
}

.reviewsHeader {
    font-size: 30px;
    font-family: hellofreeday;
    word-spacing: 7px;
    color: #6A57A4;
}

.card{
    width: 30%;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
}

.dell-review-btn{
    border: none;
    width: 20%;
}
.dell-review-btn:hover{
    background-color: #4FC478;
}

.reviewsAdmin {
    width: 50%;
    /*display: flex;*/
    justify-content: center;
    padding: 25px 0;
    flex-wrap: wrap;
    margin: 0 auto;
}

@media(max-width: 1200px) {
    .reviewsContent {
        margin: 25px 0;
    }

    .reviews {
        margin: 25px 50px;
    }

}

@media(max-width: 770px) {
    .reviewsHeader {
        font-size: 22px;
    }
    .cart{
        width: 49%;
    }
}

@media(max-width: 483px) {
    .reviews {
        display: block;
    }
    .cart{
        width: 100%;
    }

    .reviewsAdm100 {
        width: 100%;
    }
}