 .authenticate-content {
     
 }

 .authenticate-form {
     background-color: rgb(255, 255, 255, 0.4);
     text-align: center;
     width: 540px;
     padding: 20px 30px;
     margin: 25px auto 200px;
     font-size: 16px;
 }

 .auth-description p {
     font-size: 23px;
 }

 .authenticate-subtitle {
     font-family: MidnightConstellations;
     font-size: 42px;
     margin: 13px;
 }

 .form-control {
     border-radius: 0;
     border: none;
     height: 50px;
 }

 .auth-form-btn {
     width: 190px;
     height: 50px;
     font-size: 16px;
     font-family: hellofreeday;
     color: #fff;
     background-color: #00D15A;
     border: none;
     margin: 20px 0 20px;
 }

 .auth-form-btn:hover {
     background-color: rgb(0, 209, 90, .6);
 }
 .fname{
     width: 49%;
     display: inline-block;
 }
 .lname{
     width: 49%;
     display: inline-block;
 }
 input[type=text1] {
     margin: 0 5px 3px 0;
     height: 48px;
     width: 98.5%;
 }
 input[type=text2] {
     margin: 0 0 3px 5px;
     height: 48px;
     width: 98.5%;
 }

 .authenticate-form textarea{
     width: 100%;
     height: 150px;
     margin: 0 auto;
     display: flex;
     padding: 10px;
     font-size: 18px;
 }

 @media(max-width: 1200px) {
    
 }

 @media(max-width: 770px) {
     .authenticate-form {
         width: 440px;
     }
 }

 @media(max-width: 483px) {
     .authenticate-form  {
         width: 95%;
         padding: 10px;
     }

     .form-control {
         height: 100%;
         font-size: 16px;
         padding: 10px
     }

     
     .auth-form-btn{
     	height: 40px;
    }
     .authenticate-subtitle{
         font-size: 33px;
     }

     .dropdown-item {
         width: 100%;
         padding: 4px;
         letter-spacing: 0.5px;

     }

 }
