@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background: rgb(200, 212, 213);
    background: linear-gradient(0deg, rgba(255, 175, 194, 1) 0%, rgba(200, 212, 213, 1) 100%);
    margin: 0 auto;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

    background: rgb(200, 212, 213);
    background: -moz-linear-gradient(0deg, rgba(255, 175, 194, 1) 0%, rgba(200, 212, 213, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255, 175, 194, 1) 0%, rgba(200, 212, 213, 1) 100%);
    background: linear-gradient(0deg, rgba(255, 175, 194, 1) 0%, rgba(200, 212, 213, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffafc2", endColorstr="#c8d4d5", GradientType=1);

}

#fixed-content {
    position: fixed;
    padding: 40px 20px;
    background-color: #129a4a;
    z-index: 10;
    font-size: 26px;
    color: #fff;
    right: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    top: 50%;
    transition: .3s;
    text-align: center;
}

#fixed-content:hover {
    position: fixed;
    padding-right: 30px;
    background-color: orange;
    font-size: 27px;
    color: #fff;
    display: block;
}


.mail-button {
    width: 200px;
    background-color: #FFD8FE;
    padding: 0 20px;
    line-height: 50px;
    border: none;
    margin: 0 auto;
}

.mail-template {
    padding: 20px 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.mail-template p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}



.slider-nav-thumbnails .slick-slide {
    opacity: 0.5;
}

.slider-nav-thumbnails .slick-slide.slick-active {
    opacity: 1;
    background: green;
}






.cartPageVisual {
    text-align: center;
}

.center {
    width: 105px;
    margin: 0 auto;
    margin-top: 50px;
}

.load-title {
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

.load-title:before {
    position: relative;
    top: 0px;
    content: attr(title);
    color: #aaa;
}

@keyframes mymove {
    from {
        top: 50px;
    }

    to {
        top: 100px;
    }
}


#background-modall-for-window {
    display: none;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
}

.modall-window {
    position: relative;
    background-color: #BFBFBF;
    width: 30%;
    padding: 26px 16px;
    margin: 0 auto;
    animation: mymove 1s normal;
}

.modall-title {
    font-family: hellofreeday;
    text-align: center;
    margin-bottom: 35px;
}

.modall-btns {
    display: flex;
    justify-content: center;
}

.modall-btn {
    display: inline-block;
    margin: 10px;
    padding: 5px 45px;
    border: none;
    font-family: hellofreeday;
    font-size: 26px;
    background-color: #FF4B4B;
}

.modall-btn:hover {
    background-color: #FF9F47;
}

table,
tr,
th {
    border: 1px solid #000;
    padding: 5px;
    font-size: 16px;
}


button:focus {
    outline: none;
}

button {
    cursor: pointer;
}


hr {
    border: .5px solid #fff;
    margin: 3px 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

@font-face {
    font-family: hellofreeday;
    src: url(hellofreeday.demo.otf);
}

@font-face {
    font-family: MidnightConstellations;
    src: url(MidnightConstellations.ttf);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;

}

la {
    font-size: 20px;
}

.primary-btn a {
    color: white;
    text-decoration: none;
}

.primary-btn1 {
    color: white;
    background-color: #FF007d;
    font-family: hellofreeday;
    font-size: 30px;
    box-shadow: 0 0 15px 15px white;
    border: none;
    border-radius: 7px;
    text-align: center;
    line-height: 80px;
    width: 320px;
    position: absolute;
    z-index: 3;
    left: 15%;
    transform: translateY(-300%);
}

.primary-btn2 {
    color: white;
    background-color: #FF007d;
    font-family: hellofreeday;
    font-size: 30px;
    box-shadow: 0 0 15px 15px white;
    border: none;
    border-radius: 7px;
    text-align: center;
    line-height: 80px;
    width: 320px;
    position: absolute;
    z-index: 3;
}

.btn_home:hover {
    padding: 11px 46px;
}

.secondary-btn {
    background-color: #FF4B4B;
    font-family: hellofreeday;
    color: #FFFFFF;
    border: none;
    padding: 15px 0;
    width: 250px;
    font-size: 28px;
    margin: 10px;
    transition: all 0.5s;
}

.full-btn {
    width: 340px;
    height: 60;
    background-color: #4FC478;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    font-family: hellofreeday;
    padding: 14px 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px 0;
    outline: none;
}

.full-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.full-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.full-btn:hover span {
    padding-right: 25px;
}

.full-btn:hover span:after {
    opacity: 1;
    right: 0;
}

footer {
    background-color: #482020;
}

/*header*/
.header {
    background-color: #FFD8FE;
    width: 100%;
    max-height: 140px;
    line-height: 125px;
    padding: 0 15px;
}

.header a {
    text-decoration: none;
}

#navLinks {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

#navlink {
    color: #6A57A4;
    font-size: 22px;
    font-family: hellofreeday;
    letter-spacing: 1px;
    position: relative;
    vertical-align: middle;
    margin: 0 6px;
}

#navlinkSignIn {
    color: #6A57A4;
    font-size: 22px;
    letter-spacing: 1px;
    font-family: hellofreeday;
    margin: 3px 5px;
    padding: 10px 30px;
    border: 2px solid grey;
    border-radius: 30px;
    transition: .2s;
}

#navlinkSignIn:hover {
    color: grey;
    background-color: #fff;
}

#navlinkCart {
    color: #6A57A4;
    font-size: 22px;
    margin: 3px 5px;
    padding: 20px 0;

}

.nav-link-adm {
    font-size: 30px;
    color: #6A57A4;
    vertical-align: middle;
}

.nav-link-adm:hover {
    color: #6A57A4;
}


.logoHead {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.logot {
    width: 100%;
    max-width: 350px;
}

#navLinksManagment {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    float: right;
    text-align: right;
}

#navLinksManagment a {
    margin-left: 10px;
}



.userWord {
    display: none;
}

.burger {
    display: none;
    background: none;
    border: 0;
    padding: 9px 2px;
    cursor: pointer;
}



.brgSpan {
    display: block;
    width: 40px;
    height: 5px;
    margin: 5px;

    background-color: #6A57A4;
    position: relative;
}

.brgSpan:before,
.brgSpan:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #6A57A4;
    position: absolute;
    left: 0;
    z-index: 1;
}

.brgSpan:before {
    top: 10px;
}

.brgSpan:after {
    bottom: 10px;
}

/*
footer
==========================================*/
.footer__lnk {
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.5;
    background-color: #482020;
    color: #fff;
    margin: 30px;
}

.footer__inner {
    padding: 40px 0 25px 0;
    text-align: center;
}

.copyright__content div {
    width: 23%;
    margin: auto;
    line-height: 1.5;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 80px;
    color: #808080;
}

/*
footer
==========================================*/
.account-content {
    width: 50%;
    margin: 0 auto;
    display: inline-block;
}

.user-name h4 {
    font-size: 30px;
    padding: 5px;
    font-family: hellofreeday;
    color: #6a57a4;
    font-weight: 200;
}

.orders-content {
    padding: 10px;
    overflow: scroll;
    height: 700px;
}

.orderDetailsInProgress {
    height: auto;
    font-weight: 600;
    width: 100%;
    display: flex;
    padding: 5px 5px;
    background-color: rgb(255, 255, 255, 0.6);
    margin-bottom: 20px;
    overflow: hidden;
}

.orderDetailsInProgress .details {
    text-align: left;
}

.user-management {
    max-width: 270px;
    margin-top: 25px;
    display: inline-block;
    background-color: rgb(255, 255, 255, 0.4);
    max-height: 160px;
    padding: 10px 0;
    vertical-align: top;
}

.ordersQty {
    width: 750px;
    display: inline-block;
    background-color: rgb(255, 255, 255, 0.4);
    padding: 20px;
    margin-top: 25px;
    text-align: center;
    vertical-align: top;

}

.ordersQty hr {
    width: 50%;
    display: flex;
    margin: 0 auto;
}

.menage-nav div {
    padding: 5px 20px;
}

.menage-nav div:hover {
    background-color: rgb(255, 255, 255, 0.9);
}

.menage-nav {
    padding: 10px 0;
}

.menage-nav a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.empty-page {
    display: none;
}


.adminOrders {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}


@media(max-width: 1200px) {

    .logoHead {
        width: 78%;
        text-align: center;
    }

    #navLinksManagment {
        width: 10%;
    }

    .adminOrders {
        width: 100%;
    }

    .accountContent {
        grid-template-columns: 23% 70%;
    }

    .userManagement {
        height: 220px;
    }


    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }


    /*
footer
==========================================*/



    #navLinks {
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 130px;
        left: 0;
        margin: 0;
        padding-bottom: 1px;
        background-color: #7b66b6;
        display: none;
        z-index: 1;
    }

    #navLinksManagment a {
        margin-left: 0;
    }

    #navlinkSignIn {
        display: none;
        text-align: left;
        line-height: 60px;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 320px;
        left: 0;
        margin: 0;
        background-color: #7b66b6;
        z-index: 1;
        border-radius: 0px;
        padding: 0 20px 20px 25px;
        color: #FFD8FE;
        border: none;
    }

    #navLinks #navlink {
        padding: 0 20px;
        color: #FFD8FE;
        line-height: 50px;
    }



    .navlink:hover {
        background-color: #CCD4D4;
    }


    .burger {
        display: inline-block;
        width: 10%;
        vertical-align: middle;
    }



    .logo {
        width: 350px;
        margin-right: 0;
        margin-left: 50px;
        margin-top: 10px;

    }

    .copyright__content div {
        width: 33%;

    }

}

@media(max-width: 2000px) {
    .account-content {
        width: 60%;
    }
}

@media(max-width: 1800px) {
    .account-content {
        width: 65%;
    }
}

@media(max-width: 1600px) {
    .account-content {
        width: 750px;
    }

    .user-management {
        max-width: 100%;
        width: 100%;
        margin: 25px auto;
    }

    .ordersQty {
        margin: 0 auto;

    }
}



@media(max-width: 992px) {

    .logoHead {
        width: 75%;
    }

    #navLinksManagment {
        width: 13%;
    }



    .brgSpan {
        width: 70px;
        height: 10px;
        margin: 10px;
    }

    .brgSpan:before {
        top: 20px;
    }

    .brgSpan:after {
        bottom: 20px;
    }

    table,
    tr,
    th {
        max-width: 460px;
        margin: 0 auto;
        word-wrap: break-word;
    }


    .copyright__content div {
        width: 45%;

    }

    .footer__lnk {
        font-size: 17px;
    }


}

@media (max-width: 600px) {

    table,
    tr,
    th {
        max-width: 300px;
        margin: 0 auto;
        word-wrap: break-word;
    }
}

@media (max-width: 768px) {

    .slick-next,
    .slick-arrow {
        display: none !important;
    }

    .slick-prev,
    .slick-arrow {
        display: none !important;
    }

    .logoHead {
        width: 73%;
        text-align: center;
    }

    #navLinksManagment {
        width: 15%;
    }

    .accountContent {
        display: block;
    }

    .header {
        padding: 0 5px;
        line-height: 100px;
    }

    .userSign {
        display: none
    }

    #navlinkUser {
        display: none;
        flex-direction: column;
        position: absolute;
        padding: 5px 25px;
        color: #FFD8FE;
        width: 100%;
        top: 265px;
        left: 0;
        background-color: #7b66b6;
        z-index: 1;
    }

    .brgSpan {
        width: 40px;
        height: 5px;
        margin: 5px;
        padding: 0;
    }

    .brgSpan:before {
        top: 12px;
    }

    .brgSpan:after {
        bottom: 12px;
    }

    #navLinks {
        top: 92px;
    }


    #navLinksManagment {
        padding: 0 0;
    }


    .logot {
        width: 240px;
    }

    .footer__inner {
        display: grid;
        padding: 10px 0 10px 0;
    }

    .footer__lnk {
        margin: 5px;
        font-size: 20px;
    }

    .copyright__content div {
        display: grid;
        justify-content: center;
        width: 70%;
        font-size: 20px;
        padding: 0 0 10px 0;
    }

    .logo_footer img {
        width: 250px;
    }

    .account-content {
        width: 100%;
    }

    .user-management {
        width: 100%;
        margin: 25px auto;
    }

    .ordersQty {
        width: 100%;
        margin: 0 auto;
    }

    .orderDetailsInProgress {
        display: block;
    }

    .orderPhoto {
        width: 30%;
    }

    .orderPhoto img {
        width: 100%;
        height: auto;
        position: relative !important;
        min-height: 1px !important;
    }

    .noteOrder {
        font-weight: normal;
    }

    .description {
        display: block !important;
    }

    #navlinkSignIn {
        top: 285px;
    }

}

@media(max-width: 460px) {

    .cartPageVisual h2 {
        font-size: 25px;
        margin: 10px 0;
    }

    .cartPageVisual a {
        width: 320px;
    }

    #navLinksManagment {
        width: 17%;
    }

    .logoHead {
        width: 70%;
    }

    .logot {
        width: 190px;
    }


    table,
    tr,
    th {
        max-width: 190px;
        margin: 0 auto;
        word-wrap: break-word;
        font-size: 12px;
    }


    .brgSpan {
        width: 30px;
        height: 5px;
        margin: 7px;
        padding: 0;
    }

    .brgSpan:before {
        top: 10px;
    }

    .brgSpan:after {
        bottom: 10px;
    }

    .burger {
        padding: 10px 2px 0 2px;
    }

    .orderDetailsInProgress {
        display: block;
    }

}