body {
    background-color: #C5D4D5;
    background-image: url('/images/back.png');
    margin: 0 auto;
}


table, tr, th {
  border: 1px solid #000; 
  padding: 5px;
  font-size: 16px;      
}

button:focus {
    outline: none;
}

button{
    cursor: pointer;
}


hr {
    border: .5px solid #fff;
    margin: 3px 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

@font-face {
    font-family: hellofreeday;
    src: url(hellofreeday.demo.otf);
}

@font-face {
    font-family: MidnightConstellations;
    src: url(MidnightConstellations.ttf);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;

}

la {
    font-size: 20px;
}




footer {
    background-color: #482020;
}

.row {
    margin: 0;
}


/*header*/
.header {
    padding: 0 3%;
    background-color: #FFD8FE;
    display: grid;
    grid-template-columns: 31% 38% 31%;
    width: 100% max-height: 129px;

}

.header div {
    display: flex;
    background-color: #FFD8FE;
}

.header a {
    text-decoration: none;
}

#navLinks {
    padding: 25px 0;
    justify-content: space-between;
}

#navlink {
    color: #6A57A4;
    font-size: 22px;
    font-family: hellofreeday;
    margin: 3px 5px;
    padding: 20px 0;
}

#navlinkSignIn {
    color: #6A57A4;
    font-size: 22px;
    font-family: hellofreeday;
    margin: 3px 5px;
    padding: 20px 0;
}

#navlinkCart {
    color: #6A57A4;
    font-size: 22px;
    margin: 3px 5px;
    padding: 20px 0;
}


.logoHead {
    justify-content: center;
    align-items: center;
}

.logot {
    width: 350px;
}

#navLinksManagment {
    padding: 25px 0;
    justify-content: flex-end;
}

#navLinksManagment a {
    margin-left: 10px;
}



.userWord {
    display: none;
}

.burger {
    display: none;
    background: none;
    border: 0;
    padding: 9px 2px;
    cursor: pointer;
}



.brgSpan {
    display: block;
    width: 40px;
    height: 5px;
    margin: 5px;

    background-color: #6A57A4;
    position: relative;
}

.brgSpan:before,
.brgSpan:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #6A57A4;
    position: absolute;
    left: 0;
    z-index: 1;
}

.brgSpan:before {
    top: 10px;
}

.brgSpan:after {
    bottom: 10px;
}




/*
footer
==========================================*/



.footer__lnk {
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.5;
    background-color: #482020;
    color: #fff;
    margin: 30px;
}


.footer__inner {
    padding: 40px 0 25px 0;
    text-align: center;
}

.copyright__content div {
    width: 23%;
    margin: auto;
    line-height: 1.5;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 80px;
    color: #808080;
}





.ordersContent {
    background-color: rgb(255, 255, 255, 0.4);
    padding: 20px;
    margin-top: 40px;
}

.userManagement {
    background-color: rgb(255, 255, 255, 0.4);
    height: 200px;
    padding: 20px 0;
    margin: 40px 10px;
}

.menage-nav div {
    padding: 5px 20px;
}

.menage-nav div:hover {
    background-color: rgb(255, 255, 255, 0.9);
}

.menage-nav {
    padding: 10px 0;
}



.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


.menage-nav a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

/*
footer
==========================================*/




@media(max-width: 1200px) {


    #navLinks {
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 130px;
        left: 0;
        margin: 0;
        padding-bottom: 1px;
        background-color: #808080;
        display: none;
        z-index: 1;
    }

    #navLinksManagment a {
        margin-left: 0;
    }

    #navlinkSignIn {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 310px;
        left: 0;
        margin: 0;
        background-color: #808080;
        z-index: 1;
    }

    #navLinks #navlink {
        padding: 0 20px;
        color: #FFD8FE;
    }

    #navlinkSignIn {
        padding: 0 20px 20px 25px;
        color: #FFD8FE;
    }

    .navlink:hover {
        background-color: #CCD4D4;
    }


    .burger {
        display: block;
        width: 100px;
    }



    .logo {
        width: 350px;
        margin-right: 0;
        margin-left: 50px;
        margin-top: 10px;

    }

    .copyright__content div {
        width: 33%;

    }


}


@media(max-width: 901px) {

    .header {
        width: 100%;
        grid-template-columns: 24% 52% 24%;
    }


    #navLinks {
        top: 130px;
    }

    #navlinkSignIn {
        top: 272px;
    }


    .brgSpan {
        width: 70px;
        height: 10px;
        margin: 10px;
    }

    .brgSpan:before {
        top: 20px;
    }

    .brgSpan:after {
        bottom: 20px;
    }



    .copyright__content div {
        width: 45%;

    }

    .footer__lnk {
        font-size: 17px;
    }

}

@media (max-width: 770px) {

    .header {
        padding: 0 5px;
        grid-template-columns: 17% 68% 15%;
    }

    .userSign {
        display: none
    }

    #navlinkUser {
        display: none;
        flex-direction: column;
        position: absolute;
        padding: 5px 25px;
        color: #FFD8FE;
        width: 100%;
        top: 265px;
        left: 0;
        background-color: #808080;
        z-index: 1;
    }

    


    .burger {
        width: 100%;
    }

    .brgSpan {
        width: 40px;
        height: 5px;
        margin: 5px;
        padding: 0;
    }

    .brgSpan:before {
        top: 12px;
    }

    .brgSpan:after {
        bottom: 12px;
    }

    #navLinks {
        top: 92px;
    }


    #navLinksManagment {
        padding: 5px 0;
    }


    .logot {
        width: 240px;
    }

    .footer__inner {
        display: grid;
        padding: 10px 0 10px 0;
    }

    .footer__lnk {
        margin: 5px;
        font-size: 20px;
    }

    .copyright__content div {
        display: grid;
        justify-content: center;
        width: 70%;
        font-size: 20px;
        padding: 0 0 10px 0;
    }

    .logo_footer img {
        width: 250px;
    }

}

@media(max-width: 378px) {
    .header {
        padding: 0 5px;
        grid-template-columns: 13% 72% 15%;
    }




    .brgSpan {
        width: 30px;
        height: 5px;
        margin: 7px;
        padding: 0;
    }

    .brgSpan:before {
        top: 10px;
    }

    .brgSpan:after {
        bottom: 10px;
    }

    .burger {
        padding: 10px 2px 0 2px;
    }

}