
h {
  font-size: 40px;
  letter-spacing: 1px;
	color: #6A57A4;
  font-family: hellofreeday;
}

.grid-container3 {
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 10px;
}

.grid-container3 > div {
  background-color: rgb(255,255,255,0.4);
  padding: 10px 10px;
  margin: 30px;
  text-align: center;
}

.textCU{
  text-align: left;
  font-size: 10px;
  padding: 0 26px;
  margin: 5px 0;
}


@media(max-width: 770px){
    .grid-container3 > div {
    margin: 30px 0;
    }

}

@media (max-width: 483px) {
    .grid-container3 > div {
      padding: 0;
    }

    .textCU {
    font-size: 14px;
    }

}


