<div class="comntainer">
  <div class="home-img">
    <img class="img_home" src="/images/homeP.png">
        <button class="btn_home">GET MY DREAM PORTRAIT</button>
  </div>
  <div class="how-it-work"> 
      <h class="how"> HOW IT WORKS?</h>

    
      <div class="description">
      <div class="head"><h>1</h><br> UPLOAD<br> YOUR PHOTO<br>
       <img src="/images/uploadYourPhoto.png">
     </div>
     

      <div class="head"><h>2</h><br> OUR ARTISTS CREATE<br> YOUR DREAM PORTRAIT<br>
        <img src="/images/creatingArt.png">
      </div>  

      <div class="head"><h>3</h><br> WE SEND YOU YOUR<br> PORTRAIT<br>
        <img src="/images/sendingArt.png">
      </div> 
      </div>
      <div class="how-it-work-desc">
        <hr>
    <div>
      All we need is a clear picture.<br><br>
      Each design is 100% hend-draw by a real artist<br>
      using a digital tablet. No grimix or special effects<br>
      -just skilled artistry that will capture every detail.<br><br>
      You will receive a downloadable JPEG file that can<br>
      be used digitally or for high-quality print.
    </div>
    
  </div>
  </div>
    
  <div class="p">
    
  </div>
</div>