<div class="comntainer">
    <div class="home-img" onload="imgLoaded(this)" />
<!--    <img class="img_home" src="/images/homeP.png">-->
    <img class="asyncImage" src="/images/homeP-min.png" data-src="/images/homeP.png" alt="Main image">
    <img class="small_img_home" src="/images/smallhome.png">
    <a href="/order-page/"><button class="primary-btn">GET MY CARTOON</button></a>
</div>
<div class="how-it-work">
    <h class="how"> HOW IT WORKS?</h>
    <div class="description">
        <div class="head">
            <h>1</h><br> UPLOAD<br> YOUR PHOTO<br>
            <img src="/images/uploadYourPhoto.png">
        </div>
        <div class="head">
            <h>2</h><br> OUR ARTISTS CREATE<br> YOUR DREAM PORTRAIT<br>
            <img src="/images/creatingArt.png">
        </div>
        <div class="head">
            <h>3</h><br> WE SEND YOU YOUR<br> PORTRAIT<br>
            <img src="/images/sendingArt.png">
        </div>
    </div>
    <div class="how-it-work-desc">
        <hr>
        <div>
            All we need is a clear picture.<br><br>
            Each design is 100% hand-draw by a real artist<br>
            using a digital tablet. No grimix or special effects<br>
            -just skilled artistry that will capture every detail.<br><br>
            You will receive a downloadable JPEG file that can<br>
            be used digitally or for high-quality print.
        </div>
    </div>
</div>
<div style="display: flex; justify-content: center;" class="p">
    <a href="/order-page/"><button style="position: relative; left: 50%; top:10%" class="primary-btn">GET MY CARTOON</button></a>
</div>
<div class="reviewsContent">
    <div class="reviewsHeader" style="text-align: center">
        HERE YOU CAN READ SOME REVIEWS FORM OUR CUSTOMER
    </div>
    <hr style="width: 70%; margin: 25px auto;">

    <div class="reviews">
        <div class="reviewsAdmin">
            {{#each products}}
                <div class="card" style="max-width: 340px; padding: 10px">
                    <img src="{{imagePath}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kelli W.</h5>
                        <p class="card-text">{{comment.comment}}</p>
                    </div>
                    <button class="dell-review-btn">Dell</button>
                </div>
            {{/each}}

            <div class="card" style="max-width: 340px; padding: 10px">
                <img src="/images/comment2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Roberta K.</h5>
                    <p class="card-text">
                        I love it!!!!</p>
                </div>
            </div>
            <div class="card" style="max-width: 340px; padding: 10px">
                <img src="/images/comment3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mark P.</h5>
                    <p class="card-text">
                        Uploaded my pic and asked for a beautiful dress on the girl and the Disney artists absolutely delivered. I love it!!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (() => {
        // Page is loaded
        const objects = document.getElementsByClassName('asyncImage');
        Array.from(objects).map((item) => {
            // Start loading image
            const img = new Image();
            img.src = item.dataset.src;
            // Once image is loaded replace the src of the HTML element
            img.onload = () => {
                item.classList.remove('asyncImage');
                return item.nodeName === 'IMG' ?
                        item.src = item.dataset.src :
                        item.style.backgroundImage = `url(${item.dataset.src})`;
            };
        });
    })();
</script>
