<div class="grid-container1">
  <div style="margin-bottom: 200px">
    <h style="font-size: 45px">Leave Comment</h>
     <hr class="hr1">
     <div class="textCU">
     <b><p style=" text-align: center;">
       Here you can leave a comment<br>
        for your Portarait
     </p></b>
   </div>
   <form action="/contact-us/submit" method="POST">
     <form action="/reviews-page/submit" method="POST" id="forComment">
            <input style="border: none; width: 85%; margin-bottom: 3px; height: 40px; padding:10px; " type="text" name="nameForComment" id="nameForComment" placeholder="Name" />
            <input type="email" name="emailForComment" id="emailForComment" placeholder="Email" />
            <textarea type="text" name="comment" id="comment" placeholder="Comment"></textarea>
<div class="btn">
     <button type="submit" onclick="someFunc()" class="sendBtn">Leave Comment</button>
  </div>
        </form>
  </form>


</div>
</div>