<style>
    .star-rating {
        height: 35px;
        padding: 3px;
    }
</style>
    <div class="order-page">
    <div class="main-wrap">
        <div class="subwrap1">
            <div class="wrap-item item1">
                <div class="slidercontainer">
                    <div class="showSlide ">
                        <img src="/images/ex1 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex 2 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex3 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex4 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex5 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex6 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex7 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex8 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex9 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex10 cut.jpg"/>
                    </div>
                    <!-- Navigation arrows -->
                </div>
            </div>
            <div class="wrap-item item2">
                <div class="container-with-photos multiple-items">
                    <div class="item-with-photo">
                        <img class="current-item" src="/images/ex1 cut.jpg">
                    </div>
                    <div class="item-with-photo">
                        <img class="current-item" src="/images/ex 2 cut.jpg">
                    </div>
                    <div class="item-with-photo">
                        <img class="current-item" src="/images/ex3 cut.jpg">
                    </div>

                    <div class="item-with-photo">
                        <img class="current-item" src="/images/ex4 cut.jpg">
                    </div>
                    <div class="item-with-photo">
                        <img class="current-item" src="/images/ex5 cut.jpg">
                    </div>
                    <div class="item-with-photo">
                        <img class="current-item" src="/images/ex6 cut.jpg">
                    </div>
                    <div class="item-with-photo">
                        <img class="current-item" src="/images/ex7 cut.jpg">
                    </div>
                    <div class="item-with-photo">
                        <img class="current-item" src="/images/ex8 cut.jpg">
                    </div>
                    <div class="item-with-photo">
                        <img class="current-item" src="/images/ex9 cut.jpg">
                    </div>
                    <div class="item-with-photo">
                        <img class="current-item" src="/images/ex10 cut.jpg">
                    </div>
                </div>
            </div>
        </div>
        <!-- <img src="priceff.png"> -->
        <div class="subwrap2">
            <div class="wrap-item item3">
                <div class="description-of-sale">
                    <div class="title">Original DreamPortrait art</div>
                    <div class="reviews-qty">20 reviews</div>
                    {{#if hasReviews}}
                        <div style="display: flex; margin: 10px 0">
                            <div>
                                {{#each averageRating}}
                                    {{# if this }}
                                        <img class="star-rating" src="/images/filled_star.png" alt="">
                                    {{else}}
                                        <img class="star-rating" src="/images/empty_star.png" alt="">
                                    {{/ if }}
                                {{/each}}
                            </div>
                            <div class="reviews-qty">20{{ reviewsAmount }} reviews</div>
                            <!--                    <img style="max-height: 23px" src="/images/stars.png">-->
                        </div>
                    {{/if}}
                    <hr>
                    <div class="counter">
                        <img src="/images/eye.png">
                        <h6 style="margin:0"><b><span id="demo">17 </span></b> People are currently looking at this product
                        </h6>
                    </div>
                    <div class="deliver">
                        <img src="/images/airport.png">
                        <h6 style="margin:5px 0 0 0"> Estimated delivery time 3-5 days</h6>
                    </div>
                    <br>
                    <div id="total-price-page-static" style="display: flex;">
                        <!-- <h4 style="padding: 5px 10px 5px 5px">Discount </h4> -->
                        <h3>
                            Price:
                        <del>
                            98
                        </del>
                            <span style="font-size: 22px"> USD</span>
                        </h3>
                        <h3 style="color: red; padding-left:10px;"><b> 49 </b>
                            <span style="font-size: 22px"> USD</span></h3>
                    </div>
                    <!-- <h3><b>Only <div id="countDownPortrait">50</div> arts left at this price</b></h3> -->
                </div>
            </div>
            <div class="wrap-item item4">
                <h4 class="text-center">PLACE YOUR ORDER IN <b>4</b> STEPS</h4>
            </div>
            <div class="wrap-item item4">
                <div class="selected-people-block">
                    <h5 class="features__title"><b>1.</b> Choose number of people & pets:</h5>
                    <div style="display: flex; justify-content: space-between;">
                        <button data-price="49" data-id="1" class="people-amount-image">1</button>
                        <button data-price="59" data-id="2" class="people-amount-image">2</button>
                        <button data-price="69" data-id="3" class="people-amount-image">3</button>
                        <button data-price="79" data-id="4" class="people-amount-image">4</button>
                        <button data-price="89" data-id="5" class="people-amount-image">5</button>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <button data-price="99" data-id="6" class="people-amount-image">6</button>
                        <button data-price="109" data-id="7" class="people-amount-image">7</button>
                        <button data-price="119" data-id="8" class="people-amount-image">8</button>
                        <button data-price="129" data-id="9" class="people-amount-image">9</button>
                        <button data-price="139" data-id="10" class="people-amount-image">10</button>
                    </div>
                    <small class="form-text text-danger error-message">required</small>
                </div>
            </div>
            <div class="wrap-item item5">
                <div class="background-image-block">
                    <h5 class="features__title"><b>2.</b> Choose Background:</h5>
                    <div class="slidercontainerBcgr" style="margin: 15px auto">
                        <div class="showSlideBcgr">
                            <img src="/images/12x18 H castle.jpg"/>
                        </div>
                        <div class="showSlideBcgr">
                            <img src="/images/18x12 H beach.jpg"/>
                        </div>
                        <div class="showSlideBcgr">
                            <img src="/images/12x18 H hearts.jpg"/>
                        </div>
                        <div class="showSlideBcgr">
                            <img src="/images/12x18 H starry night.jpg"/>
                        </div>
                        <div class="showSlideBcgr">
                            <img src="/images/12x18 bokeh.jpg"/>
                        </div>
                        <div class="showSlideBcgr" style="padding: 30px 0">
                            <h1 style="text-align:center;">Custom Background<br>+25$</h1>
                        </div>
                    </div>
                    <div class="bcgr-items" style="display: flex; justify-content: space-between;">
                        <img data-price="0" data-id="14" class="background-image" src="/images/12x18 H castle.jpg"
                             name="Castle" width="70" height="70" onclick="currentSlideBcgr(1)">
                        <img data-price="0" data-id="12" class="background-image" src="/images/18x12 H beach.jpg"
                             name="Beach" width="70" height="70" onclick="currentSlideBcgr(2)">
                        <img data-price="0" data-id="13" class="background-image" src="/images/12x18 H hearts.jpg"
                             name="Hearts" width="70" height="70" onclick="currentSlideBcgr(3)">
                        <img data-price="0" data-id="11" class="background-image" src="/images/12x18 H starry night.jpg"
                             name="Starry Night" onclick="currentSlideBcgr(4)">
                        <img data-price="0" data-id="15" class="background-image" src="/images/12x18 bokeh.jpg"
                             name="Bokeh" width="70" height="70" onclick="currentSlideBcgr(5)">
                        <img data-price="25" data-id="111" name="Custom" class="background-image"
                             src="/images/custom.png" onclick="currentSlideBcgr(6)">
                    </div>
                    <small class="form-text text-danger error-message">required</small>
                </div>
            </div>
            <div class="wrap-item item6">
                <div class="notes-block">
                    <h5 class="features__title">
                        <b>3.</b> Add notes (eye color, particular accessories, details, special test):
                    </h5>
                    <textarea id="text-in" class="form-control mt-3" maxlength="500" rows="4"></textarea>
                    <p id="demo"></p>
                </div>
            </div>


            <div class="wrap-item item7">
                <div class="photo-block">
                    <h5 class="features__title"><b>4.</b> Upload your photo</h5>
                    <div class="mt-3">
                        <input id="upload-image" type="file" class="filepond" name="filepond">
                        <input type="text" class="filepond" name="image-url" hidden>
                    </div>
                    <small class="form-text text-danger error-message">required</small>
                </div>
            </div>
            <div class="wrap-item item8" style="text-align: center;">
                <div>
                    <button class="full-btn" id="add-to-cart"><span>ADD TO CART</span></button>
                </div>
            </div>

            <div class="wrap-item item9 info-section">
                <h5 class="info-section-title text-center mb-3">TURN YOUR PHOTO INTO A CARTOON!</h5>
                <p class="px-2">
                    We are professional artists who love creating
                    unique, one of a kind, original portraits that
                    you will instantly recognize and treasure
                    forever. It's Simple! Just customize your
                    package using the buttons above, upload
                    your photo, leave us a note and leave the rest
                    to us!
                </p>
                <div class="info-section-image">
                    <img src="/images/info_section_1.jpg">
                </div>
                <p class="px-2">
                    Each design is 100% hand-draw by a real
                    artist using a digital tablet. No gimmick or
                    special effects - just skilled artistry that will
                    capture every detail.
                </p>
                <p class="px-2 mt-3">
                    You will receive a downloadable JPEG file that
                    can be used digitally or for high-quality print.
                </p>
                <div class="info-section-image">
                    <img src="/images/info_section_2.jpg">
                </div>
                <p class="px-2">
                    Don't know if you will like it? Don't worry!
                    We offer free unlimited revisions! We will
                    work together until you are 100% happy with
                    the final result.
                </p>
                <p class="px-2 mt-3">
                    What are you waiting for!!!
                </p>
            </div>
        </div>
    </div>
</div>
<script>
  FilePond.registerPlugin(FilePondPluginFileValidateType);
  FilePond.registerPlugin(FilePondPluginImagePreview);
  FilePond.registerPlugin(FilePondPluginFileValidateSize);
  FilePond.create(
    document.querySelector('#upload-image'),
    {
      acceptedFileTypes: ['image/*'],
      maxFileSize: '10MB',
      credits: false,
      labelIdle: 'Drag & Drop your image or <span class="filepond--label-action"> Browse </span>',
      server: {
        process: function (fieldName, file, metadata, load, error, progress, abort) {
          // upload image to s3
          s3.upload({
            Key: `photos/${Date.now()}_${file.name}`,
            Body: file,
            ContentType: file.type,
            ContentDisposition: 'attachment',
            ACL: 'public-read'
          }, function(err, data) {
            if (err) return error('Something went wrong')

            $('input[name=image-url]').val(data.Location)

            load(data.Key);
          });
        }
      }
    }
  );

    $('.slidercontainer').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        fade: true,
        asNavFor: '.multiple-items'
    });
    $('.multiple-items').slick({
        slidesToShow: 2.3,
        slidesToScroll: 2.4,
        arrows: true,
        asNavFor: '.slidercontainer',
        centerMode: true,
        focusOnSelect: true
    });

    // var countDown = document.getElementById("countDownPortrait")

    // setInterval(function () {
    //     if (qtyPortraits == 0) {
    //         countDown.innerHTML = "0"
    //     } else {
    //         qtyPortraits--;
    //         if (qtyPortraits == 0) {
    //             qtyPortraits = 50;
    //         }

    //         countDown.innerHTML = qtyPortraits;
    //     }
    // }, 60000 * 60 * 4);

    // dynamic counter

    var x = 0;

    setInterval(function () {
        var x = Math.floor((Math.random() * 7) + 15);
        document.getElementById("demo").innerHTML = x;
    }, 6000);

    // dynamic counter
</script>
<script>
    // slider for bacground
    var slide_index_bcgr = 1;
    displaySlidesBcgr(slide_index_bcgr);

    function nextSlideBcgr(h) {
        displaySlidesBcgr(slide_index_bcgr += h);
    }

    function currentSlideBcgr(h) {
        displaySlidesBcgr(slide_index_bcgr = h);
    }


    function displaySlidesBcgr(h) {
        var y;
        var slidesBcgr = document.getElementsByClassName("showSlideBcgr");
        if (h > slidesBcgr.length) {
            slide_index_bcgr = 1
        }
        if (h < 1) {
            slide_index_bcgr = slidesBcgr.length
        }
        for (y = 0; y < slidesBcgr.length; y++) {
            slidesBcgr[y].style.display = "none";
        }
        slidesBcgr[slide_index_bcgr - 1].style.display = "block";
    }

    // slider for bacground

    // =============================

    // order data variables
    var selectedPeopleAmount = null;
    var selectedBakcground = null;
    var wishesText = null;
    // order data variables


    var addToCart = document.getElementById('add-to-cart');
    var textIn = document.getElementById('text-in');

    addToCart.addEventListener('click', function (event) {
        // validations
        if (!selectedPeopleAmount || !selectedBakcground || !getImageURL()) {
            $('.selected-people-block .error-message').toggle(!selectedPeopleAmount)
            $('.background-image-block .error-message').toggle(!selectedBakcground)
            $('.photo-block .error-message').toggle(!getImageURL())
            return false
        }

        var localStorageCart = JSON.parse(localStorage.getItem("cart"));

        if (localStorageCart == null) {
            localStorageCart = [];
        }

        localStorageCart.push({
            selectedPeople: selectedPeopleAmount,
            selectedBakcground: selectedBakcground,
            wishesText: wishesText,
            imageUrl: getImageURL()
        });

        localStorage.setItem("cart", JSON.stringify(localStorageCart));
        updateCartQty();
        if (localStorageCart.length > 0) {
            window.location.href = '/cart-page';
        }
    });

    function getImageURL () {
      return $('input[name=image-url]').val()
    }


    var backgroundImage = document.getElementsByClassName("background-image");

    for (var i = 0; i < backgroundImage.length; i++) {
        backgroundImage[i].addEventListener('click', function (event) {
            for (var j = 0; j < backgroundImage.length; j++) {
                backgroundImage[j].className = "background-image";
            }

            var price = Number(event.target.getAttribute('data-price'));
            var id = event.target.getAttribute('data-id');
            var name = event.target.getAttribute('name');

            event.target.className += " people-amount-image-clicked";

            selectedBakcground = {
                id: id,
                price: price,
                name: name
            };
            priceForAll();

        });
    }


    var peopleAmountImages = document.getElementsByClassName("people-amount-image");

    for (var i = 0; i < peopleAmountImages.length; i++) {
        peopleAmountImages[i].addEventListener('click', function (event) {

            for (var j = 0; j < peopleAmountImages.length; j++) {
                peopleAmountImages[j].className = "people-amount-image";
            }

            var price = Number(event.target.getAttribute('data-price'));
            var id = event.target.getAttribute('data-id');

            event.target.className += " people-amount-image-clicked";

            selectedPeopleAmount = {
                id: id,
                price: price
            };
            priceForAll();
        });
    }


    var priceForAll = () => {
        var peoplePricePage = selectedPeopleAmount ? selectedPeopleAmount.price : 0;
        var backgroundPricePage = selectedBakcground ? selectedBakcground.price : 0;

        var totalPricePage = peoplePricePage + backgroundPricePage;

        if (selectedPeopleAmount.price != null) {
            document.getElementById('total-price-page-static').innerHTML = '<h3>Price: <del>' + totalPricePage * 2 + ' ' + '</h3><span style="font-size: 22px">USD</span></del>' + ' <h3 style="color:red; padding-left:10px;"><b>' + totalPricePage + ' ' + '</b><span style="font-size: 22px">USD</span></h3>';
        }
    }


    function showCartElement() {
        var localStorageCart = JSON.parse(localStorage.getItem("cart"));
        var totalPrice = 0;

        if (!localStorageCart) {
            return;
        }

        var shoppingCart = document.getElementById('cart');
        shoppingCart.innerHTML = '';

        for (var i = 0; i < localStorageCart.length; i++) {
            var item = localStorageCart[i];
            totalPrice += item.selectedPeople.price + item.selectedBakcground.price;
            // if (item.selectedBakcground != null) {
            //     totalPrice += item.selectedBakcground.price;
            // }
            // if (item.image != null) {
            shoppingCart.innerHTML +=
                    "<li>People: " + item.selectedPeople.id + " - $" + item.selectedPeople.price +
                    " : " + item.selectedBakcground.name + " - $" + item.selectedBakcground.price + "</li>";
            // } else {
            //     shoppingCart.innerHTML +=
            //         "<li>People: " + item.selectedPeople.id + " - $" + item.selectedPeople.price + "</li>";
            // }
        }

        var totalPriceElement = document.getElementById('total-price');
        totalPriceElement.innerHTML = 'Total Price : $' + totalPrice;
    }


    textIn.addEventListener('input', function (event) {
        wishesText = event.target.value;
    });
</script>
