<div>
    <div class="grid-container">
        <div class="grid-item item0">
            <div class="flex-container-two">
                <div class="slidercontainer">
                    <div class="showSlide ">
                        <img src="/images/ex1 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex 2 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex3 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex4 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex5 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex6 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex7 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex8 cut.jpg"/>
                    </div>
                    <div class="showSlide ">
                        <img src="/images/ex9 cut.jpg"/>
                    </div>
                    <!-- Navigation arrows -->
                    <a class="left" onclick="nextSlide(-1)">❮</a>
                    <a class="right" onclick="nextSlide(1)">❯</a>
                </div>
                <div class="dots" style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                    <span class="dot" onclick="currentSlide(6)"></span>
                    <span class="dot" onclick="currentSlide(7)"></span>
                    <span class="dot" onclick="currentSlide(8)"></span>
                    <span class="dot" onclick="currentSlide(9)"></span>
                </div>
            </div>
            <div class="flex-container-two">
                <div class="container-with-photos">
                    <div class="items-with-photo" onclick="currentSlide(1)"><img class="current-item"
                                                                                 src="/images/ex1 cut.jpg"></div>
                    <div class="items-with-photo" onclick="currentSlide(2)"><img class="current-item"
                                                                                 src="/images/ex 2 cut.jpg"></div>
                    <div class="items-with-photo" onclick="currentSlide(3)"><img class="current-item"
                                                                                 src="/images/ex3 cut.jpg"></div>
                    <div class="items-with-photo" onclick="currentSlide(4)"><img class="current-item"
                                                                                 src="/images/ex4 cut.jpg"></div>
                    <div class="items-with-photo" onclick="currentSlide(5)"><img class="current-item"
                                                                                 src="/images/ex5 cut.jpg"></div>
                    <div class="items-with-photo" onclick="currentSlide(6)"><img class="current-item"
                                                                                 src="/images/ex6 cut.jpg"></div>
                    <div class="items-with-photo" onclick="currentSlide(7)"><img class="current-item"
                                                                                 src="/images/ex7 cut.jpg"></div>
                    <div class="items-with-photo" onclick="currentSlide(8)"><img class="current-item"
                                                                                 src="/images/ex8 cut.jpg"></div>
                    <div class="items-with-photo" onclick="currentSlide(9)"><img class="current-item"
                                                                                 src="/images/ex9 cut.jpg"></div>

                </div>
            </div>
            <!-- <img src="priceff.png"> -->
        </div>
        <div class="grid-item item01">
            <div class="flex-container">
                <div class="descriptionOfSale">
                    <h2>Original DreamPortrait art</h2>
                    <div style="display: flex; margin: 10px 0">
                        <img style="max-height: 23px" src="/images/stars.png">

                    </div>
                    <hr>
                    <div class="counter" style="display: flex; margin-top: 10px">
                        <img src="/images/eye.png" style="margin: 5px; width: 20px; height: 13px">
                        <h6 style="margin:0"><b><span id="demo">17 </span></b> People are currently looking at this prod
                        </h6>
                    </div>
                    <div style="display: flex;">
                        <img src="/images/airport.png" style="margin: 5px; width: 20px; height: 20px">
                        <h6 style="margin:5px 0 0 0"> Estimated delivery time 3-5 days</h6>
                    </div>
                    <br>
                    <div id="total-price-page-static" style="display: flex;">
                        <!-- <h4 style="padding: 5px 10px 5px 5px">Discount </h4> -->
                        <del>
                            <h2>$98</h2>
                        </del>
                        <h2 style="color: red; padding-left:10px; ">$49</h2>
                    </div>
                    <!-- <h3><b>Only <div id="countDownPortrait">50</div> arts left at this price</b></h3> -->
                </div>
            </div>
            <div class="flex-container">
                <div>
                    <h5 class="features__title">Number of people & pets:</h5>
                    <div style="display: flex; justify-content: space-between;">
                        <button data-price="49" data-id="1" class="people-amount-image">1</button>
                        <button data-price="59" data-id="2" class="people-amount-image">2</button>
                        <button data-price="69" data-id="3" class="people-amount-image">3</button>
                        <button data-price="79" data-id="4" class="people-amount-image">4</button>
                        <button data-price="89" data-id="5" class="people-amount-image">5</button>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <button data-price="99" data-id="6" class="people-amount-image">6</button>
                        <button data-price="109" data-id="7" class="people-amount-image">7</button>
                        <button data-price="119" data-id="8" class="people-amount-image">8</button>
                        <button data-price="129" data-id="9" class="people-amount-image">9</button>
                        <button data-price="139" data-id="10" class="people-amount-image">10</button>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div>
                    <h5 class="features__title">Background:</h5>
                    <div class="slidercontainerBcgr" style="margin: 15px 15px">
                        <div class="showSlideBcgr">
                            <img src="/images/12x18 H starry night.jpg"/>
                        </div>
                        <div class="showSlideBcgr">
                            <img src="/images/18x12 H beach.jpg"/>
                        </div>
                        <div class="showSlideBcgr">
                            <img src="/images/12x18 H hearts.jpg"/>
                        </div>
                        <div class="showSlideBcgr">
                            <img src="/images/12x18 H castle.jpg"/>
                        </div>
                        <div class="showSlideBcgr">
                            <img src="/images/12x18 bokeh.jpg"/>
                        </div>
                        <div class="showSlideBcgr" style="padding: 30px 0">
                            <h1 style="text-align:center;">Custom Bacground<br>+25$</h1>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <img data-price="0" data-id="11" class="background-image" src="/images/12x18 H starry night.jpg"
                             name="Starry Night" onclick="currentSlideBcgr(1)">
                        <img data-price="0" data-id="12" class="background-image" src="/images/18x12 H beach.jpg"
                             name="Beach" width="70" height="70" onclick="currentSlideBcgr(2)">
                        <img data-price="0" data-id="13" class="background-image" src="/images/12x18 H hearts.jpg"
                             name="Hearts" width="70" height="70" onclick="currentSlideBcgr(3)">
                        <img data-price="0" data-id="14" class="background-image" src="/images/12x18 H castle.jpg"
                             name="Castle" width="70" height="70" onclick="currentSlideBcgr(4)">
                        <img data-price="0" data-id="15" class="background-image" src="/images/12x18 bokeh.jpg"
                             name="Bokeh" width="70" height="70" onclick="currentSlideBcgr(5)">
                        <div data-price="25" data-id="111" name="Custom" class="background-image"
                             onclick="currentSlideBcgr(6)"
                             style="font-size: 22px; text-align: center; padding: 6px 0; width: 60px; height: 60px">
                            custom
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div>
                    <h5 class="features__title">Notes (eye, color, particular<br> accessories, details, special test):
                    </h5>
                    <div style="display: flex; justify-content: center;">
                        <textarea class="input_text" id="text-in" type="input" oninput="textIn(this.value)"
                                  style="width: 98%; height: 150px;"></textarea>
                    </div>
                    <p id="demo"></p>
                </div>
            </div>
            <div class="flex-container">
                <div>
                    <h5 class="features__title">Upload your photo</h5>
                    <div class="container">
                        <div class="button-wrap" style="display: flex; justify-content: center;">
                            <input class="btnUpl" id="inputFileToLoad" type="file" enctype="multipart/form-data"
                                   onchange="encodeImageFileAsURL();"/>
                        </div>
                    </div>
                    <div id="imgTest" style="display: none"></div>
                </div>
            </div>
            <div class="flex-container" style="text-align: center;">
                <div>
                    <button class="full-btn" id="add-to-cart"><span>ADD TO CART</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    // var minutes = 9;
    // var seconds = 60;
    // var time = document.getElementById("countDown")

    // setInterval( function() {
    //   if( minutes == 0 && seconds == 1){
    //     time.innerHTML = "00:00"
    //   }else{
    //     seconds--;
    //     if(seconds == 0){
    //       minutes--;
    //       seconds = 60;
    //       if (minutes == 0) {
    //         minutes = minutes;
    //       }
    //     }
    //     time.innerHTML = minutes + ":" + seconds;
    //   }
    // }, 1000);

    var qtyPortraits = 50;

    var countDown = document.getElementById("countDownPortrait")

    setInterval(function () {
        if (qtyPortraits == 0) {
            countDown.innerHTML = "0"
        } else {
            qtyPortraits--;
            if (qtyPortraits == 0) {
                qtyPortraits = 50;
            }

            countDown.innerHTML = qtyPortraits;
        }
    }, 60000 * 60 * 4);


    // dynamic counter
    var x = 0;
    setInterval(function () {
        var x = Math.floor((Math.random() * 7) + 15);
        document.getElementById("demo").innerHTML = x;
    }, 6000);
    // dynamic counter
</script>
<script>

    var itemGalery = document.getElementsByClassName('items-with-photo')

    function currentSlide(n) {
        for (var i = 0; i < n.length; i++) {

        }
    }


    // slider for galery
    var itemGalery = document.getElementsByClassName('current-item')


    var slide_index = 1;
    displaySlides(slide_index);

    function nextSlide(n) {
        displaySlides(slide_index += n);
    }

    function currentSlide(n) {
        displaySlides(slide_index = n);
    }


    for (var d = 0; d < itemGalery.length; d++) {
        itemGalery[d].addEventListener('click', function (event) {
            for (var b = 0; b < itemGalery.length; b++) {
                itemGalery[b].className = "current-item";
            }
            event.target.className += " items-with-photo-clickd";
        })
    }


    function displaySlides(n) {
        var i;
        var slides = document.getElementsByClassName("showSlide");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slide_index = 1
        }
        if (n < 1) {
            slide_index = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slide_index - 1].style.display = "block";

        for (var r = 0; r < itemGalery.length; r++) {
            itemGalery[r].className = "current-item";
        }
        itemGalery[slide_index - 1].className += " items-with-photo-clickd";
    }

    // slider for galery

    // slider for bacground

    var slide_index_bcgr = 1;
    displaySlidesBcgr(slide_index_bcgr);

    function nextSlideBcgr(h) {
        displaySlidesBcgr(slide_index_bcgr += h);
    }

    function currentSlideBcgr(h) {
        displaySlidesBcgr(slide_index_bcgr = h);
    }


    function displaySlidesBcgr(h) {
        var y;
        var slidesBcgr = document.getElementsByClassName("showSlideBcgr");
        if (h > slidesBcgr.length) {
            slide_index_bcgr = 1
        }
        if (h < 1) {
            slide_index_bcgr = slidesBcgr.length
        }
        for (y = 0; y < slidesBcgr.length; y++) {
            slidesBcgr[y].style.display = "none";
        }
        slidesBcgr[slide_index_bcgr - 1].style.display = "block";
    }

    // slider for bacground


    // =============================

    // order data variables
    var selectedPeopleAmount = null;
    var selectedBakcground = null;
    var wishesText = null;
    var image = null;
    var imageFile = null;
    // order data variables


    var addToCart = document.getElementById('add-to-cart');
    var textIn = document.getElementById('text-in');


    addToCart.addEventListener('click', function (event) {
        if (!selectedPeopleAmount) {
            //TODO: Add friendly message
            alert('please select people');
            return;
        } else if (!selectedBakcground) {
            //TODO: Add friendly message
            alert('please select background');
            return;
        } else if (!image) {
            //TODO: Add friendly message
            alert('please select image');
            return;
        }

        var localStorageCart = JSON.parse(localStorage.getItem("cart"));

        if (localStorageCart == null) {
            localStorageCart = [];
        }

        localStorageCart.push({
            selectedPeople: selectedPeopleAmount,
            selectedBakcground: selectedBakcground,
            wishesText: wishesText,
            image: image,
            imageFile: imageFile
        });

        localStorage.setItem("cart", JSON.stringify(localStorageCart));
        updateCartQty();
        if (localStorageCart.length > 0) {
            window.location.href = '/cartPageTest';
        }

    });


    var backgroundImage = document.getElementsByClassName("background-image");

    for (var i = 0; i < backgroundImage.length; i++) {
        backgroundImage[i].addEventListener('click', function (event) {
            for (var j = 0; j < backgroundImage.length; j++) {
                backgroundImage[j].className = "background-image";
            }

            var price = Number(event.target.getAttribute('data-price'));
            var id = event.target.getAttribute('data-id');
            var name = event.target.getAttribute('name');

            event.target.className += " people-amount-image-clicked";

            selectedBakcground = {
                id: id,
                price: price,
                name: name
            };
            priceForAll();

        });
    }


    var peopleAmountImages = document.getElementsByClassName("people-amount-image");

    for (var i = 0; i < peopleAmountImages.length; i++) {
        peopleAmountImages[i].addEventListener('click', function (event) {

            for (var j = 0; j < peopleAmountImages.length; j++) {
                peopleAmountImages[j].className = "people-amount-image";
            }

            var price = Number(event.target.getAttribute('data-price'));
            var id = event.target.getAttribute('data-id');

            event.target.className += " people-amount-image-clicked";

            selectedPeopleAmount = {
                id: id,
                price: price
            };
            priceForAll();
        });
    }


    var priceForAll = () => {
        var peoplePricePage = selectedPeopleAmount ? selectedPeopleAmount.price : 0;
        var backgroundPricePage = selectedBakcground ? selectedBakcground.price : 0;

        var totalPricePage = peoplePricePage + backgroundPricePage;

        if (selectedPeopleAmount.price != null) {
            document.getElementById('total-price-page-static').innerHTML = '<del><h2>$' + totalPricePage * 2 + '</h2></del>' + ' <h2 style="color:red; padding-left:10px;">$' + totalPricePage + '</h2>';
        }
    }


    function showCartElement() {
        var localStorageCart = JSON.parse(localStorage.getItem("cart"));
        var totalPrice = 0;

        if (!localStorageCart) {
            return;
        }

        var shoppingCart = document.getElementById('cart');
        shoppingCart.innerHTML = '';

        for (var i = 0; i < localStorageCart.length; i++) {
            var item = localStorageCart[i];
            totalPrice += item.selectedPeople.price + item.selectedBakcground.price;
            // if (item.selectedBakcground != null) {
            //     totalPrice += item.selectedBakcground.price;
            // }
            // if (item.image != null) {
            shoppingCart.innerHTML +=
                    "<li>People: " + item.selectedPeople.id + " - $" + item.selectedPeople.price +
                    " : " + item.selectedBakcground.name + " - $" + item.selectedBakcground.price + "</li>";
            // } else {
            //     shoppingCart.innerHTML +=
            //         "<li>People: " + item.selectedPeople.id + " - $" + item.selectedPeople.price + "</li>";
            // }
        }

        var totalPriceElement = document.getElementById('total-price');
        totalPriceElement.innerHTML = 'Total Price : $' + totalPrice;
    }


    textIn.addEventListener('input', function (event) {
        wishesText = event.target.value;
    });

    function encodeImageFileAsURL() {
        var filesSelected = document.getElementById("inputFileToLoad").files;
        if (filesSelected.length > 0) {

            var fileToLoad = filesSelected[0];

            // fileToLoad.text().then((r) => {
            //     debugger
            // })
            var fileReader = new FileReader();

            fileReader.onload = function (fileLoadedEvent) {
                var srcData = fileLoadedEvent.target.result;

                image = srcData;

                // var data = new FormData(),
                // imageFile/ = fileToLoad;

            }
            fileReader.readAsDataURL(fileToLoad);
        }
    }
</script>