

<div class="grid-container-order">
	<div class="mainItemOne">
		hello
	</div>
	
	<div class="mainItemTwo">
		gayaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
	</div>
</div>
