<div class="authenticate-content">
    <div class="authenticate-form">
        <form action="/reviews-page/submit" method="POST">
            <div>REVIEW</div>
            <hr>
            <h2 class="authenticate-subtitle">Leave a comment</h2>
            <input name="id" type="hidden" value="{{productId}}">
            <textarea name="comment" class="comment" placeholder="Your comment "></textarea>
            <button class="auth-form-btn">SIGN IN</button>
            <hr>
        </form>
    </div>
</div>