<style>
    .star-rating {
        height: 35px;
        padding: 3px;
    }
</style>

<div class="reviewsContent">
    <div class="reviews">
        <div class="reviewsAdmin">
            <div class="reviewsHeader">
        HERE YOU CAN READ SOME REVIEWS FORM OUR CUSTOMER
    </div>
    <hr>

            {{#each products}}
            <div class="card">
                <img src="{{artImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kelli W.</h5>
                    <p class="card-text">{{comment.comment}}</p>
                    <div>
                        {{#each comment.rating}}
                            {{# if this }}
                                <img class="star-rating" src="/images/filled_star.png" alt="">
                            {{else}}
                                <img class="star-rating" src="/images/empty_star.png" alt="">
                            {{/ if }}
                        {{/each}}
                    </div>
                </div>

                {{# if ../isAdmin }}
                    <form action="/reviews-page/hide" method="POST">
                        <input type="hidden" name="productId" value="{{id}}">
                        <button type="submit" class="dell-review-btn">Hide</button>
                    </form>
                {{/ if }}
            </div>
            {{/each}}
        </div>
    </div>
</div>
