<div style="display: flex; justify-content: center;">
<div class="successContent">
<div class="titleSuccess">
    <h1>Your Portrait is ready for download!<br>
     Please go to the Dream Portrait account.</h1>
</div>
<hr>
<div class="getHomebtn">
    <a type="button" href="/homePageTest" class="getHome">Go to your account ➜</a>
</div>
</div>
</div>