<div class="container font-montserrat text-center success-page">
    <div class="row">
        <div class="col">
            <h1 class="mb-3">Thanks for your order</h1>
            <p class="text-muted mb-5">Your order has been placed and is being processed. You will receive an email with the order details.</p>

            <a href="/">Back to homepage</a>
        </div>
    </div>
</div>
