<div class="successContent">
<div class="titleSuccess">
    <h1>Message sent successfully!</h1>
</div>
<hr>
<div class="getHomebtn">
    <a type="button" href="/home-page" class="getHome">Back to Home Page ➜</a>
</div>
</div>
