<div style="display: flex; justify-content: center;">
<div class="successContent">
<div class="titleSuccess">
    <h1>Payment made successfully!</h1>
</div>
<hr>
<div class="getHomebtn">
    <a type="button" href="/homePageTest" class="getHome">Back to Home Page ➜</a>
</div>
</div>
</div>